In [36]:
import pandas as pd
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 50)

In [2]:
pop = pd.read_csv('../data/demo_pjan_linear.csv')

In [3]:
df = pd.read_csv('../data/migr_pop3ctb_linear.csv')

In [4]:
df = df.drop(columns=['DATAFLOW','freq','unit','OBS_FLAG'])

In [5]:
df['sex'].unique()

array(['F', 'M', 'T'], dtype=object)

In [6]:
df['age'].unique()

array(['TOTAL', 'UNK', 'Y10-14', 'Y15-19', 'Y15-64', 'Y20-24', 'Y25-29',
       'Y30-34', 'Y35-39', 'Y40-44', 'Y45-49', 'Y5-9', 'Y50-54', 'Y55-59',
       'Y60-64', 'Y65-69', 'Y70-74', 'Y75-79', 'Y80-84', 'Y85-89',
       'Y90-94', 'Y95-99', 'Y_GE100', 'Y_GE65', 'Y_GE85', 'Y_LT15',
       'Y_LT5'], dtype=object)

In [7]:
df['sex'].value_counts()

sex
M    2107067
F    2106800
T    2094535
Name: count, dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6308402 entries, 0 to 6308401
Data columns (total 7 columns):
 #   Column       Dtype
---  ------       -----
 0   LAST UPDATE  object
 1   c_birth      object
 2   age          object
 3   sex          object
 4   geo          object
 5   TIME_PERIOD  int64
 6   OBS_VALUE    float64
dtypes: float64(1), int64(1), object(5)
memory usage: 336.9+ MB

In [9]:
df.isna().sum()

LAST UPDATE        0
c_birth        23500
age                0
sex                0
geo                0
TIME_PERIOD        0
OBS_VALUE      24300
dtype: int64

In [10]:
df['geo'].unique()

array(['AT', 'BE', 'BG', 'CH', 'CY', 'CZ', 'DK', 'EE', 'FI', 'FR', 'HU',
       'IE', 'IS', 'IT', 'LI', 'LT', 'LU', 'LV', 'NL', 'NO', 'PL', 'PT',
       'RO', 'SE', 'SI', 'SK', 'UK', 'ES', 'TR', 'HR', 'DE', 'EL', 'MT',
       'EU27_2020', 'RS', 'AD', 'AL', 'AM', 'AZ', 'ME', 'MK', 'UA'],
      dtype=object)

In [11]:
df['c_birth'].unique()

array(['AD', 'AE', 'AF', 'AFR', 'AFR_C', 'AFR_E', 'AFR_N', 'AFR_OTH',
       'AFR_S', 'AFR_W', 'AG', 'AI', 'AL', 'AM', 'AME', 'AME_C', 'AME_N',
       'AME_OTH', 'AME_S', 'AN', 'AO', 'AQ', 'AR', 'AS', 'ASI', 'ASI_C',
       'ASI_E', 'ASI_OTH', 'ASI_S', 'ASI_S_E', 'ASI_W', 'AT', 'AU',
       'AU_NZ', 'AW', 'AZ', 'BA', 'BB', 'BD', 'BE', 'BF', 'BG', 'BH',
       'BI', 'BJ', 'BL', 'BM', 'BN', 'BO', 'BQ', 'BR', 'BS', 'BT', 'BW',
       'BY', 'BZ', 'CA', 'CC', 'CC3_07', 'CC4_10', 'CC8_22_FOR', 'CD',
       'CF', 'CG', 'CH', 'CI', 'CK', 'CL', 'CM', 'CN', 'CO', 'CR', 'CRB',
       'CU', 'CV', 'CW', 'CX', 'CY', 'CZ', 'CZ_SK', 'DE', 'DJ', 'DK',
       'DM', 'DO', 'DZ', 'EC', 'EE', 'EFTA', 'EFTA_FOR', 'EG', 'EH', 'EL',
       'ER', 'ES', 'ET', 'EU15', 'EU15_FOR', 'EU25', 'EU25_FOR',
       'EU27_2007', 'EU27_2007_FOR', 'EU27_2020_FOR', 'EU28', 'EU28_FOR',
       'EUR', 'EUR_OTH', 'EXT', 'EX_SU', 'EX_YU', 'FI', 'FJ', 'FK', 'FM',
       'FO', 'FOR', 'FR', 'FR91', 'FR92', 'FR93', 'FR94', 'GA', 'GD',
       'GE', 'GG', 'GH', 'GI', 'GL', 'GM', 'GN', 'GQ', 'GS', 'GT', 'GU',
       'GW', 'GY', 'HDC_EXT', 'HK', 'HN', 'HR', 'HT', 'HU', 'ID', 'IE',
       'IL', 'IM', 'IN', 'IO', 'IQ', 'IR', 'IS', 'IT', 'JE', 'JM', 'JO',
       'JP', 'KE', 'KG', 'KH', 'KI', 'KM', 'KN', 'KP', 'KR', 'KW', 'KY',
       'KZ', 'LA', 'LB', 'LC', 'LDC_EXT', 'LI', 'LK', 'LR', 'LS', 'LT',
       'LU', 'LV', 'LY', 'MA', 'MC', 'MD', 'MDC_EXT', 'ME', 'MEL', 'MF',
       'MG', 'MH', 'MIC', 'MK', 'ML', 'MM', 'MN', 'MO', 'MP', 'MR', 'MS',
       'MT', 'MU', 'MV', 'MW', 'MX', 'MY', 'MZ', nan, 'NAT', 'NC', 'NE',
       'NEU27_2007_FOR', 'NEU27_2020_FOR', 'NEU28_FOR', 'NF', 'NG', 'NI',
       'NL', 'NO', 'NP', 'NR', 'NU', 'NZ', 'OCE', 'OCE_OTH', 'OM', 'OTH',
       'PA', 'PE', 'PF', 'PG', 'PH', 'PK', 'PL', 'PM', 'PN', 'POL', 'PR',
       'PS', 'PT', 'PW', 'PY', 'QA', 'RNC', 'RO', 'RS', 'RS_ME', 'RU',
       'RW', 'SA', 'SB', 'SC', 'SD', 'SE', 'SG', 'SH', 'SI', 'SJ', 'SK',
       'SL', 'SM', 'SN', 'SO', 'SR', 'SS', 'ST', 'SV', 'SX', 'SY', 'SZ',
       'TC', 'TD', 'TF', 'TG', 'TH', 'TJ', 'TK', 'TL', 'TM', 'TN', 'TO',
       'TOTAL', 'TR', 'TT', 'TV', 'TW', 'TZ', 'UA', 'UG', 'UK', 'UNK',
       'US', 'UY', 'UZ', 'VA', 'VC', 'VE', 'VG', 'VI', 'VN', 'VU', 'WF',
       'WS', 'XK', 'YE', 'YT', 'ZA', 'ZM', 'ZW'], dtype=object)

In [12]:
TOTALES = df[(df['sex']=='T')&(df['age']=='TOTAL')&(df['c_birth']=='FOR')]

In [13]:
TOTALES = TOTALES.rename(columns={'LAST UPDATE':'UPDATE_inm','OBS_VALUE':'inmigrantes'})

In [14]:
pop

,DATAFLOW,LAST UPDATE,freq,unit,age,sex,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:DEMO_PJAN(1.0),19/04/24 23:00:00,A,NR,TOTAL,F,AD,1986,20898.0,NaN
1,ESTAT:DEMO_PJAN(1.0),19/04/24 23:00:00,A,NR,TOTAL,F,AD,1987,22148.0,NaN
2,ESTAT:DEMO_PJAN(1.0),19/04/24 23:00:00,A,NR,TOTAL,F,AD,1988,22814.0,NaN
3,ESTAT:DEMO_PJAN(1.0),19/04/24 23:00:00,A,NR,TOTAL,F,AD,1989,23813.0,NaN
4,ESTAT:DEMO_PJAN(1.0),19/04/24 23:00:00,A,NR,TOTAL,F,AD,1990,24171.0,NaN
...,...,...,...,...,...,...,...,...,...,...
719029,ESTAT:DEMO_PJAN(1.0),19/04/24 23:00:00,A,NR,Y_OPEN,T,XK,2018,257.0,NaN
719030,ESTAT:DEMO_PJAN(1.0),19/04/24 23:00:00,A,NR,Y_OPEN,T,XK,2019,387.0,NaN
719031,ESTAT:DEMO_PJAN(1.0),19/04/24 23:00:00,A,NR,Y_OPEN,T,XK,2020,399.0,NaN
719032,ESTAT:DEMO_PJAN(1.0),19/04/24 23:00:00,A,NR,Y_OPEN,T,XK,2021,561.0,NaN
719033,ESTAT:DEMO_PJAN(1.0),19/04/24 23:00:00,A,NR,Y_OPEN,T,XK,2022,795.0,NaN

In [15]:
pop = pop.drop(columns=['freq','OBS_FLAG','DATAFLOW','freq','unit'])

In [16]:
pop = pop.rename(columns={'LAST UPDATE':'UPDATE_pop','OBS_VALUE':'poblacion'})

In [18]:
total_pop = pop[(pop['age']=='TOTAL')&(pop['sex']=='T')]

In [19]:
total_pop.shape, TOTALES.shape

((2981, 6), (484, 7))

In [20]:
total = pd.merge(total_pop, TOTALES, on=['TIME_PERIOD','geo'], how='outer')

In [21]:
total.shape

(2981, 11)

In [22]:
total

,UPDATE_pop,age_x,sex_x,geo,TIME_PERIOD,poblacion,UPDATE_inm,c_birth,age_y,sex_y,inmigrantes
0,19/04/24 23:00:00,TOTAL,T,AD,1986,44593.0,NaN,NaN,NaN,NaN,NaN
1,19/04/24 23:00:00,TOTAL,T,AD,1987,46976.0,NaN,NaN,NaN,NaN,NaN
2,19/04/24 23:00:00,TOTAL,T,AD,1988,48451.0,NaN,NaN,NaN,NaN,NaN
3,19/04/24 23:00:00,TOTAL,T,AD,1989,50528.0,NaN,NaN,NaN,NaN,NaN
4,19/04/24 23:00:00,TOTAL,T,AD,1990,50887.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2976,19/04/24 23:00:00,TOTAL,T,XK,2018,1798506.0,NaN,NaN,NaN,NaN,NaN
2977,19/04/24 23:00:00,TOTAL,T,XK,2019,1795666.0,NaN,NaN,NaN,NaN,NaN
2978,19/04/24 23:00:00,TOTAL,T,XK,2020,1782115.0,NaN,NaN,NaN,NaN,NaN
2979,19/04/24 23:00:00,TOTAL,T,XK,2021,1798186.0,NaN,NaN,NaN,NaN,NaN
2980,19/04/24 23:00:00,TOTAL,T,XK,2022,1773971.0,NaN,NaN,NaN,NaN,NaN

In [23]:
total['Porcentaje'] = total['inmigrantes']*100/total['poblacion']

In [24]:
total[total['geo']=='ES']

,UPDATE_pop,age_x,sex_x,geo,TIME_PERIOD,poblacion,UPDATE_inm,c_birth,age_y,sex_y,inmigrantes,Porcentaje
1127,19/04/24 23:00:00,TOTAL,T,ES,1960,30327000.0,NaN,NaN,NaN,NaN,NaN,NaN
1128,19/04/24 23:00:00,TOTAL,T,ES,1961,30583000.0,NaN,NaN,NaN,NaN,NaN,NaN
1129,19/04/24 23:00:00,TOTAL,T,ES,1962,30895500.0,NaN,NaN,NaN,NaN,NaN,NaN
1130,19/04/24 23:00:00,TOTAL,T,ES,1963,31151231.0,NaN,NaN,NaN,NaN,NaN,NaN
1131,19/04/24 23:00:00,TOTAL,T,ES,1964,31442070.0,NaN,NaN,NaN,NaN,NaN,NaN
1132,19/04/24 23:00:00,TOTAL,T,ES,1965,31776320.0,NaN,NaN,NaN,NaN,NaN,NaN
1133,19/04/24 23:00:00,TOTAL,T,ES,1966,32132264.0,NaN,NaN,NaN,NaN,NaN,NaN
1134,19/04/24 23:00:00,TOTAL,T,ES,1967,32434123.0,NaN,NaN,NaN,NaN,NaN,NaN
1135,19/04/24 23:00:00,TOTAL,T,ES,1968,32931771.0,NaN,NaN,NaN,NaN,NaN,NaN
1136,19/04/24 23:00:00,TOTAL,T,ES,1969,33294497.0,NaN,NaN,NaN,NaN,NaN,NaN
1137,19/04/24 23:00:00,TOTAL,T,ES,1970,33587610.0,NaN,NaN,NaN,NaN,NaN,NaN
1138,19/04/24 23:00:00,TOTAL,T,ES,1971,34040642.0,NaN,NaN,NaN,NaN,NaN,NaN
1139,19/04/24 23:00:00,TOTAL,T,ES,1972,34408338.0,NaN,NaN,NaN,NaN,NaN,NaN
1140,19/04/24 23:00:00,TOTAL,T,ES,1973,34800600.0,NaN,NaN,NaN,NaN,NaN,NaN
1141,19/04/24 23:00:00,TOTAL,T,ES,1974,35177294.0,NaN,NaN,NaN,NaN,NaN,NaN
1142,19/04/24 23:00:00,TOTAL,T,ES,1975,35569375.0,NaN,NaN,NaN,NaN,NaN,NaN
1143,19/04/24 23:00:00,TOTAL,T,ES,1976,35946425.0,NaN,NaN,NaN,NaN,NaN,NaN
1144,19/04/24 23:00:00,TOTAL,T,ES,1977,36329199.0,NaN,NaN,NaN,NaN,NaN,NaN
1145,19/04/24 23:00:00,TOTAL,T,ES,1978,36694077.0,NaN,NaN,NaN,NaN,NaN,NaN
1146,19/04/24 23:00:00,TOTAL,T,ES,1979,37035719.0,NaN,NaN,NaN,NaN,NaN,NaN
1147,19/04/24 23:00:00,TOTAL,T,ES,1980,37346940.0,NaN,NaN,NaN,NaN,NaN,NaN
1148,19/04/24 23:00:00,TOTAL,T,ES,1981,37635389.0,NaN,NaN,NaN,NaN,NaN,NaN
1149,19/04/24 23:00:00,TOTAL,T,ES,1982,37881873.0,NaN,NaN,NaN,NaN,NaN,NaN
1150,19/04/24 23:00:00,TOTAL,T,ES,1983,38090151.0,NaN,NaN,NaN,NaN,NaN,NaN
1151,19/04/24 23:00:00,TOTAL,T,ES,1984,38252899.0,NaN,NaN,NaN,NaN,NaN,NaN
1152,19/04/24 23:00:00,TOTAL,T,ES,1985,38407829.0,NaN,NaN,NaN,NaN,NaN,NaN
1153,19/04/24 23:00:00,TOTAL,T,ES,1986,38531195.0,NaN,NaN,NaN,NaN,NaN,NaN
1154,19/04/24 23:00:00,TOTAL,T,ES,1987,38638052.0,NaN,NaN,NaN,NaN,NaN,NaN
1155,19/04/24 23:00:00,TOTAL,T,ES,1988,38731578.0,NaN,NaN,NaN,NaN,NaN,NaN
1156,19/04/24 23:00:00,TOTAL,T,ES,1989,38802300.0,NaN,NaN,NaN,NaN,NaN,NaN
1157,19/04/24 23:00:00,TOTAL,T,ES,1990,38853227.0,NaN,NaN,NaN,NaN,NaN,NaN
1158,19/04/24 23:00:00,TOTAL,T,ES,1991,38881416.0,NaN,NaN,NaN,NaN,NaN,NaN
1159,19/04/24 23:00:00,TOTAL,T,ES,1992,39051336.0,NaN,NaN,NaN,NaN,NaN,NaN
1160,19/04/24 23:00:00,TOTAL,T,ES,1993,39264034.0,NaN,NaN,NaN,NaN,NaN,NaN
1161,19/04/24 23:00:00,TOTAL,T,ES,1994,39458489.0,NaN,NaN,NaN,NaN,NaN,NaN
1162,19/04/24 23:00:00,TOTAL,T,ES,1995,39639726.0,NaN,NaN,NaN,NaN,NaN,NaN
1163,19/04/24 23:00:00,TOTAL,T,ES,1996,39808374.0,NaN,NaN,NaN,NaN,NaN,NaN
1164,19/04/24 23:00:00,TOTAL,T,ES,1997,39971329.0,NaN,NaN,NaN,NaN,NaN,NaN
1165,19/04/24 23:00:00,TOTAL,T,ES,1998,40143449.0,NaN,NaN,NaN,NaN,NaN,NaN
1166,19/04/24 23:00:00,TOTAL,T,ES,1999,40303568.0,NaN,NaN,NaN,NaN,NaN,NaN
1167,19/04/24 23:00:00,TOTAL,T,ES,2000,40470182.0,NaN,NaN,NaN,NaN,NaN,NaN
1168,19/04/24 23:00:00,TOTAL,T,ES,2001,40665545.0,NaN,NaN,NaN,NaN,NaN,NaN
1169,19/04/24 23:00:00,TOTAL,T,ES,2002,41035278.0,25/04/24 23:00:00,FOR,TOTAL,T,2334096.0,5.688023
1170,19/04/24 23:00:00,TOTAL,T,ES,2003,41827838.0,25/04/24 23:00:00,FOR,TOTAL,T,2984092.0,7.134225
1171,19/04/24 23:00:00,TOTAL,T,ES,2004,42547451.0,25/04/24 23:00:00,FOR,TOTAL,T,3547669.0,8.338147
1172,19/04/24 23:00:00,TOTAL,T,ES,2005,43296338.0,25/04/24 23:00:00,FOR,TOTAL,T,4107228.0,9.486317
1173,19/04/24 23:00:00,TOTAL,T,ES,2006,44009971.0,25/04/24 23:00:00,FOR,TOTAL,T,4637971.0,10.538455
1174,19/04/24 23:00:00,TOTAL,T,ES,2007,44784666.0,25/04/24 23:00:00,FOR,TOTAL,T,5200060.0,11.611251
1175,19/04/24 23:00:00,TOTAL,T,ES,2008,45668939.0,25/04/24 23:00:00,FOR,TOTAL,T,5878921.0,12.872909
1176,19/04/24 23:00:00,TOTAL,T,ES,2009,46239273.0,25/04/24 23:00:00,FOR,TOTAL,T,6225516.0,13.463698
1177,19/04/24 23:00:00,TOTAL,T,ES,2010,46486619.0,25/04/24 23:00:00,FOR,TOTAL,T,6280062.0,13.509397
1178,19/04/24 23:00:00,TOTAL,T,ES,2011,46667174.0,25/04/24 23:00:00,FOR,TOTAL,T,6282205.0,13.461722
1179,19/04/24 23:00:00,TOTAL,T,ES,2012,46818219.0,25/04/24 23:00:00,FOR,TOTAL,T,6294954.0,13.445522
1180,19/04/24 23:00:00,TOTAL,T,ES,2013,46727890.0,25/04/24 23:00:00,FOR,TOTAL,T,6174740.0,13.214250
1181,19/04/24 23:00:00,TOTAL,T,ES,2014,46512199.0,25/04/24 23:00:00,FOR,TOTAL,T,5958308.0,12.810205
1182,19/04/24 23:00:00,TOTAL,T,ES,2015,46449565.0,25/04/24 23:00:00,FOR,TOTAL,T,5891208.0,12.683021
1183,19/04/24 23:00:00,TOTAL,T,ES,2016,46440099.0,25/04/24 23:00:00,FOR,TOTAL,T,5918341.0,12.744032
1184,19/04/24 23:00:00,TOTAL,T,ES,2017,46528024.0,25/04/24 23:00:00,FOR,TOTAL,T,6024698.0,12.948536
1185,19/04/24 23:00:00,TOTAL,T,ES,2018,46658447.0,25/04/24 23:00:00,FOR,TOTAL,T,6198833.0,13.285554
1186,19/04/24 23:00:00,TOTAL,T,ES,2019,46937060.0,25/04/24 23:00:00,FOR,TOTAL,T,6538961.0,13.931339
1187,19/04/24 23:00:00,TOTAL,T,ES,2020,47332614.0,25/04/24 23:00:00,FOR,TOTAL,T,6996825.0,14.782249
1188,19/04/24 23:00:00,TOTAL,T,ES,2021,47398695.0,25/04/24 23:00:00,FOR,TOTAL,T,7214878.0,15.221681
1189,19/04/24 23:00:00,TOTAL,T,ES,2022,47432893.0,25/04/24 23:00:00,FOR,TOTAL,T,7365311.0,15.527855
1190,19/04/24 23:00:00,TOTAL,T,ES,2023,48085361.0,25/04/24 23:00:00,FOR,TOTAL,T,8204206.0,17.061754

In [26]:
len(total.geo.unique())

59

In [27]:
total.geo.unique()

array(['AD', 'AL', 'AM', 'AT', 'AZ', 'BA', 'BE', 'BG', 'BY', 'CH', 'CY',
       'CZ', 'DE', 'DE_TOT', 'DK', 'EA19', 'EA20', 'EE', 'EEA30_2007',
       'EEA31', 'EFTA', 'EL', 'ES', 'EU27_2007', 'EU27_2020', 'EU28',
       'FI', 'FR', 'FX', 'GE', 'HR', 'HU', 'IE', 'IS', 'IT', 'LI', 'LT',
       'LU', 'LV', 'MC', 'MD', 'ME', 'MK', 'MT', 'NL', 'NO', 'PL', 'PT',
       'RO', 'RS', 'RU', 'SE', 'SI', 'SK', 'SM', 'TR', 'UA', 'UK', 'XK'],
      dtype=object)

In [28]:
dic = {
    'AD': 'Andorra',
    'AL': 'Albania',
    'AM': 'Armenia',
    'AT': 'Austria',
    'AZ': 'Azerbaijan',
    'BA': 'Bosnia and Herzegovina',
    'BE': 'Belgium',
    'BG': 'Bulgaria',
    'BY': 'Belarus',
    'CH': 'Switzerland',
    'CY': 'Cyprus',
    'CZ': 'Czech Republic',
    'DE': 'Germany',
    'DE_TOT': 'Germany (until 1990 former territory of the FRG)',
    'DK': 'Denmark',
    'EA19': 'Euro Area (19 countries)',
    'EA20': 'Euro Area (20 countries)',
    'EE': 'Estonia',
    'EEA30_2007': 'EU-27 & EEA (30 countries, 2007-2013)',
    'EEA31': 'European Economic Area (31 countries)',
    'EFTA': 'European Free Trade Association',
    'EL': 'Greece',
    'ES': 'Spain',
    'EU27_2007': 'EU-27 (2007-2013)',
    'EU27_2020': 'EU-27 (from 2020)',
    'EU28': 'European Union (28 countries)',
    'FI': 'Finland',
    'FR': 'France',
    'FX': 'France (metropolitan)',
    'GE': 'Georgia',
    'HR': 'Croatia',
    'HU': 'Hungary',
    'IE': 'Ireland',
    'IS': 'Iceland',
    'IT': 'Italy',
    'LI': 'Liechtenstein',
    'LT': 'Lithuania',
    'LU': 'Luxembourg',
    'LV': 'Latvia',
    'MC': 'Monaco',
    'MD': 'Moldova',
    'ME': 'Montenegro',
    'MK': 'North Macedonia',
    'MT': 'Malta',
    'NL': 'Netherlands',
    'NO': 'Norway',
    'PL': 'Poland',
    'PT': 'Portugal',
    'RO': 'Romania',
    'RS': 'Serbia',
    'RU': 'Russia',
    'SE': 'Sweden',
    'SI': 'Slovenia',
    'SK': 'Slovakia',
    'SM': 'San Marino',
    'TR': 'Turkey',
    'UA': 'Ukraine',
    'UK': 'United Kingdom',
    'XK': 'Kosovo'
}

In [29]:
total['Pais'] = total['geo'].map(dic)

In [30]:
total

,UPDATE_pop,age_x,sex_x,geo,TIME_PERIOD,poblacion,UPDATE_inm,c_birth,age_y,sex_y,inmigrantes,Porcentaje,Pais
0,19/04/24 23:00:00,TOTAL,T,AD,1986,44593.0,NaN,NaN,NaN,NaN,NaN,NaN,Andorra
1,19/04/24 23:00:00,TOTAL,T,AD,1987,46976.0,NaN,NaN,NaN,NaN,NaN,NaN,Andorra
2,19/04/24 23:00:00,TOTAL,T,AD,1988,48451.0,NaN,NaN,NaN,NaN,NaN,NaN,Andorra
3,19/04/24 23:00:00,TOTAL,T,AD,1989,50528.0,NaN,NaN,NaN,NaN,NaN,NaN,Andorra
4,19/04/24 23:00:00,TOTAL,T,AD,1990,50887.0,NaN,NaN,NaN,NaN,NaN,NaN,Andorra
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2976,19/04/24 23:00:00,TOTAL,T,XK,2018,1798506.0,NaN,NaN,NaN,NaN,NaN,NaN,Kosovo
2977,19/04/24 23:00:00,TOTAL,T,XK,2019,1795666.0,NaN,NaN,NaN,NaN,NaN,NaN,Kosovo
2978,19/04/24 23:00:00,TOTAL,T,XK,2020,1782115.0,NaN,NaN,NaN,NaN,NaN,NaN,Kosovo
2979,19/04/24 23:00:00,TOTAL,T,XK,2021,1798186.0,NaN,NaN,NaN,NaN,NaN,NaN,Kosovo
2980,19/04/24 23:00:00,TOTAL,T,XK,2022,1773971.0,NaN,NaN,NaN,NaN,NaN,NaN,Kosovo

In [32]:
publi = total[total['TIME_PERIOD']>1999]

In [33]:
publi

,UPDATE_pop,age_x,sex_x,geo,TIME_PERIOD,poblacion,UPDATE_inm,c_birth,age_y,sex_y,inmigrantes,Porcentaje,Pais
14,19/04/24 23:00:00,TOTAL,T,AD,2000,65971.0,NaN,NaN,NaN,NaN,NaN,NaN,Andorra
15,19/04/24 23:00:00,TOTAL,T,AD,2001,65844.0,NaN,NaN,NaN,NaN,NaN,NaN,Andorra
16,19/04/24 23:00:00,TOTAL,T,AD,2002,66334.0,NaN,NaN,NaN,NaN,NaN,NaN,Andorra
17,19/04/24 23:00:00,TOTAL,T,AD,2003,67159.0,NaN,NaN,NaN,NaN,NaN,NaN,Andorra
18,19/04/24 23:00:00,TOTAL,T,AD,2004,72320.0,NaN,NaN,NaN,NaN,NaN,NaN,Andorra
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2976,19/04/24 23:00:00,TOTAL,T,XK,2018,1798506.0,NaN,NaN,NaN,NaN,NaN,NaN,Kosovo
2977,19/04/24 23:00:00,TOTAL,T,XK,2019,1795666.0,NaN,NaN,NaN,NaN,NaN,NaN,Kosovo
2978,19/04/24 23:00:00,TOTAL,T,XK,2020,1782115.0,NaN,NaN,NaN,NaN,NaN,NaN,Kosovo
2979,19/04/24 23:00:00,TOTAL,T,XK,2021,1798186.0,NaN,NaN,NaN,NaN,NaN,NaN,Kosovo
2980,19/04/24 23:00:00,TOTAL,T,XK,2022,1773971.0,NaN,NaN,NaN,NaN,NaN,NaN,Kosovo

In [50]:
publi['geo'].unique()

array(['AD', 'AL', 'AM', 'AT', 'AZ', 'BA', 'BE', 'BG', 'BY', 'CH', 'CY',
       'CZ', 'DE', 'DE_TOT', 'DK', 'EA19', 'EA20', 'EE', 'EEA30_2007',
       'EEA31', 'EFTA', 'EL', 'ES', 'EU27_2007', 'EU27_2020', 'EU28',
       'FI', 'FR', 'FX', 'GE', 'HR', 'HU', 'IE', 'IS', 'IT', 'LI', 'LT',
       'LU', 'LV', 'MC', 'MD', 'ME', 'MK', 'MT', 'NL', 'NO', 'PL', 'PT',
       'RO', 'RS', 'RU', 'SE', 'SI', 'SK', 'SM', 'TR', 'UA', 'UK', 'XK'],
      dtype=object)

In [51]:
publi[publi['geo']=='RU']

,UPDATE_pop,age_x,sex_x,geo,TIME_PERIOD,poblacion,UPDATE_inm,c_birth,age_y,sex_y,inmigrantes,Porcentaje,Pais
2600,19/04/24 23:00:00,TOTAL,T,RU,2000,146890128.0,NaN,NaN,NaN,NaN,NaN,NaN,Russia
2601,19/04/24 23:00:00,TOTAL,T,RU,2001,146303611.0,NaN,NaN,NaN,NaN,NaN,NaN,Russia
2602,19/04/24 23:00:00,TOTAL,T,RU,2002,145649334.0,NaN,NaN,NaN,NaN,NaN,NaN,Russia
2603,19/04/24 23:00:00,TOTAL,T,RU,2003,145166731.0,NaN,NaN,NaN,NaN,NaN,NaN,Russia
2604,19/04/24 23:00:00,TOTAL,T,RU,2004,144168205.0,NaN,NaN,NaN,NaN,NaN,NaN,Russia
2605,19/04/24 23:00:00,TOTAL,T,RU,2005,143474219.0,NaN,NaN,NaN,NaN,NaN,NaN,Russia
2606,19/04/24 23:00:00,TOTAL,T,RU,2006,142753551.0,NaN,NaN,NaN,NaN,NaN,NaN,Russia
2607,19/04/24 23:00:00,TOTAL,T,RU,2007,142220968.0,NaN,NaN,NaN,NaN,NaN,NaN,Russia
2608,19/04/24 23:00:00,TOTAL,T,RU,2008,142008838.0,NaN,NaN,NaN,NaN,NaN,NaN,Russia
2609,19/04/24 23:00:00,TOTAL,T,RU,2009,141903979.0,NaN,NaN,NaN,NaN,NaN,NaN,Russia
2610,19/04/24 23:00:00,TOTAL,T,RU,2010,141914509.0,NaN,NaN,NaN,NaN,NaN,NaN,Russia
2611,19/04/24 23:00:00,TOTAL,T,RU,2011,142856536.0,NaN,NaN,NaN,NaN,NaN,NaN,Russia
2612,19/04/24 23:00:00,TOTAL,T,RU,2012,143056383.0,NaN,NaN,NaN,NaN,NaN,NaN,Russia
2613,19/04/24 23:00:00,TOTAL,T,RU,2014,143666931.0,NaN,NaN,NaN,NaN,NaN,NaN,Russia

In [52]:
pivot = pd.pivot_table(publi, values='Porcentaje', index='Pais', columns='TIME_PERIOD')

In [53]:
pivot = pivot.reset_index()

In [54]:
pivot['Dif_10'] = pivot[2023] - pivot[2013]
pivot['Dif_14'] = pivot[2023] - pivot[2009]
pivot['Dif_5'] = pivot[2023] - pivot[2018]
pivot['Dif_covid'] = pivot[2023] - pivot[2020]

In [55]:
pivot

TIME_PERIOD,Pais,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,Dif_10,Dif_14,Dif_5,Dif_covid
0,Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.863753,15.112484,15.265272,15.453118,15.730697,16.138495,16.622597,17.275897,18.254288,18.796687,19.163090,19.447757,19.779602,20.061798,20.429408,21.563549,5.425054,6.451065,2.400459,1.783948
1,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.428125,13.872871,14.806350,15.147651,15.463001,15.640578,15.871180,16.316965,16.532515,16.811484,17.180016,17.598382,17.877704,18.245479,19.134370,3.671369,5.706245,2.322885,1.535988
2,Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.066853,1.161095,1.319409,1.507644,1.718961,1.906977,2.047210,2.219918,2.457029,2.714946,2.919665,3.229201,2.614804,1.295396,NaN,0.394886,-0.100142
3,Croatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.476399,13.390713,13.279314,13.074977,12.988934,12.884738,12.936118,13.152964,13.188012,12.228656,12.738730,-0.737669,NaN,-0.146007,-0.414234
4,Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.920231,23.008521,23.095298,23.237871,23.195185,22.329487,20.860842,20.370639,20.331141,20.986050,21.181438,21.555622,22.425718,22.747525,22.683043,-0.512142,3.762811,1.696992,1.127421
5,Czech Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.684721,3.808924,3.699637,3.720385,3.683267,3.768457,3.951823,4.105519,4.396105,4.406952,4.761132,4.990107,3.899251,4.311464,7.057668,3.374400,3.372947,2.650716,2.067561
6,Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.818059,9.047800,9.301647,9.524926,9.788460,10.122129,10.528375,11.155388,11.621445,11.944755,12.192045,12.295469,12.348107,12.698751,13.553142,3.764682,4.735083,1.608386,1.257673
7,EU-27 (from 2020),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.348429,NaN,NaN,NaN,NaN
8,Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.493854,16.342281,15.995442,15.909998,15.029155,14.938073,14.804810,14.728058,14.634378,14.873936,14.937576,14.921714,14.904727,15.061090,17.186159,2.157004,0.692306,2.312223,2.264445
9,Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.020003,4.269534,4.524735,4.829534,5.154962,5.463167,5.754207,5.999645,6.341399,6.597287,6.838810,7.122791,7.385097,7.721528,8.289135,3.134173,4.269132,1.691848,1.166344
10,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.019302,11.056295,11.259665,11.305468,11.289797,11.433061,11.499862,11.707708,11.911011,12.047450,12.122279,12.233515,12.546824,12.658648,12.816087,12.746226,13.116721,1.616858,1.857056,0.883206,0.458073
11,Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.644623,11.995101,11.138585,11.350818,11.743399,12.143352,12.587103,13.274310,14.669406,16.602793,17.923122,18.085010,18.234288,18.366384,19.531289,7.787890,7.886666,2.928496,1.446279
12,Greece,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.759351,11.881596,11.914127,11.838995,11.628142,11.578543,11.447062,11.316984,11.616276,11.896857,12.191328,12.577934,12.751821,11.454216,11.265969,-0.362173,-0.493382,-0.630887,-1.311965
13,Hungary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.227216,4.359915,4.439288,4.045228,4.272133,4.525792,4.824764,5.124742,5.242621,5.483347,5.778933,6.079486,6.139698,6.322813,6.713679,2.441546,2.486463,1.230332,0.634193
14,Iceland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.375488,11.758222,11.047760,10.880761,10.811234,10.973507,11.396778,11.872379,12.586271,13.619074,15.365189,16.806866,17.906869,18.286188,19.074387,21.205752,10.232245,9.447530,5.840563,3.298883
15,Ireland,6.745218,7.319877,NaN,NaN,NaN,NaN,NaN,15.304607,16.150156,16.266503,16.057887,16.128598,16.839784,16.507516,16.271843,16.231649,16.369069,16.646034,16.794600,17.217999,17.636612,17.644064,17.881429,21.827050,5.319534,5.560546,5.032450,4.190438
16,Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.853755,9.778474,9.701090,9.622260,9.543204,9.438896,9.548926,9.737737,9.936737,10.209873,10.146001,10.330713,10.571586,10.437047,10.877136,1.333932,1.023382,0.667263,0.546423
17,Latvia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.321447,15.020616,14.797708,14.597911,14.134202,13.796993,13.546357,13.363805,13.148535,12.894874,12.719327,12.591564,12.421036,12.153613,11.922173,12.803769,-0.993224,-2.216847,0.084442,0.382733
18,Liechtenstein,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.286100,62.244386,62.242386,62.492118,62.731419,63.088152,63.691591,64.433044,65.152076,65.849819,66.603262,67.311018,68.006657,68.614531,NaN,NaN,NaN,NaN,NaN
19,Lithuania,NaN,NaN,6.317335,6.237336,6.128901,5.996894,5.838317,5.683199,5.535570,5.376468,5.116907,4.898925,4.783361,4.718219,4.668534,4.656241,4.490337,4.471745,4.662856,4.944950,5.460740,5.907829,6.015222,8.113383,3.395164,2.736915,3.450528,2.652643
20,Luxembourg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.224924,32.494134,32.494334,41.184103,42.354652,43.270266,44.210758,45.218820,45.712728,46.536324,47.344330,48.184658,48.707955,49.360006,50.405639,8.050987,18.180715,3.869315,2.220981
21,Malta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.415934,7.972427,8.094431,8.411289,9.186787,10.280981,11.972499,13.683381,15.115458,17.531180,20.170841,23.112188,23.164115,23.596323,28.292725,19.105939,20.876791,10.761545,5.180537
22,Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.880548,11.055875,11.219246,11.394234,11.488539,11.607359,11.812025,12.112053,12.511976,12.897027,13.301026,13.785967,14.026316,14.501078,15.590953,4.102414,4.710405,2.693926,1.804986
23,Norway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.183941,10.798261,NaN,NaN,NaN,13.788066,14.468673,14.845516,15.210133,15.529063,15.794792,16.167025,16.288126,16.715168,17.590614,NaN,7.406673,2.061551,1.423589
24,Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.188508,1.689554,1.674626,1.656372,1.642988,1.631623,1.609907,1.649834,1.716603,1.832308,2.003668,2.237518,2.524023,2.524164,2.538839,0.895850,1.350330,0.706530,0.301321
25,Portugal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.078452,7.214513,7.145597,8.076872,8.404841,8.238613,8.335700,8.437029,8.499867,8.838311,9.334083,10.630989,11.468228,11.580256,16.086463,7.681622,8.008012,7.248152,5.455474
26,Romania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.913778,1.058839,1.414388,1.757762,2.134184,2.613595,3.150369,3.745248,3.586653,NaN,2.781352,1.867574,NaN,0.167757,-0.963897
27,Slovakia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.195122,1.263527,2.902917,2.923097,3.229499,3.276380,3.347467,3.426040,3.496304,3.566495,3.635647,3.698701,3.922397,3.926804,1.003706,NaN,0.430500,0.291157
28,Slovenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.976410,12.398094,11.149606,11.194816,11.302731,11.416802,11.518687,11.685128,11.877128,12.106460,12.738285,13.437008,13.884646,13.977591,14.609971,3.307240,2.633562,2.503511,1.172964
29,Spain,NaN,NaN,5.688023,7.134225,8.338147,9.486317,10.538455,11.611251,12.872909,13.463698,13.509397,13.461722,13.445522,13.214250,12.810205,12.683021,12.744032,12.948536,13.285554,13.931339,14.782249,15.221681,15.527855,17.061754,3.847504,3.598056,3.776200,2.279505
30,Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.838159,14.316021,14.700236,15.041905,15.407801,15.889939,16.440583,17.004498,17.840437,18.533519,19.100974,19.541744,19.704941,19.986059,20.379761,4.971960,6.541602,1.846242,0.838017
31,Switzerland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.654587,25.566165,26.159327,26.821928,27.413056,27.914325,28.403893,28.671402,28.900149,29.162008,29.447943,29.731184,30.197637,4.038310,NaN,1.526236,1.035630
32,Turkey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.778515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.059569,11.389604,11.650670,12.225094,12.398694,12.492888,12.963078,13.301680,14.121253,14.353328,14.207690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
.

In [56]:
pivot.to_csv('Porcentaje.csv', index=False)

In [31]:
total.to_csv('inmigracion.csv', index=False)