In [1]:
import pandas as pd
pd.set_option('display.max_rows', 320)
pd.set_option('display.max_columns', 50)

In [2]:
dic = {
    'AD': 'Andorra',
    'AL': 'Albania',
    'AM': 'Armenia',
    'AT': 'Austria',
    'AZ': 'Azerbaijan',
    'BA': 'Bosnia and Herzegovina',
    'BE': 'Belgium',
    'BG': 'Bulgaria',
    'BY': 'Belarus',
    'CH': 'Switzerland',
    'CY': 'Cyprus',
    'CZ': 'Czech Republic',
    'DE': 'Germany',
    'DE_TOT': 'Germany (until 1990 former territory of the FRG)',
    'DK': 'Denmark',
    'EA19': 'Euro Area (19 countries)',
    'EA20': 'Euro Area (20 countries)',
    'EE': 'Estonia',
    'EEA30_2007': 'EU-27 & EEA (30 countries, 2007-2013)',
    'EEA31': 'European Economic Area (31 countries)',
    'EFTA': 'European Free Trade Association',
    'EL': 'Greece',
    'ES': 'Spain',
    'EU27_2007': 'EU-27 (2007-2013)',
    'EU27_2020': 'EU-27 (from 2020)',
    'EU28': 'European Union (28 countries)',
    'FI': 'Finland',
    'FR': 'France',
    'FX': 'France (metropolitan)',
    'GE': 'Georgia',
    'HR': 'Croatia',
    'HU': 'Hungary',
    'IE': 'Ireland',
    'IS': 'Iceland',
    'IT': 'Italy',
    'LI': 'Liechtenstein',
    'LT': 'Lithuania',
    'LU': 'Luxembourg',
    'LV': 'Latvia',
    'MC': 'Monaco',
    'MD': 'Moldova',
    'ME': 'Montenegro',
    'MK': 'North Macedonia',
    'MT': 'Malta',
    'NL': 'Netherlands',
    'NO': 'Norway',
    'PL': 'Poland',
    'PT': 'Portugal',
    'RO': 'Romania',
    'RS': 'Serbia',
    'RU': 'Russia',
    'SE': 'Sweden',
    'SI': 'Slovenia',
    'SK': 'Slovakia',
    'SM': 'San Marino',
    'TR': 'Turkey',
    'UA': 'Ukraine',
    'UK': 'United Kingdom',
    'XK': 'Kosovo'
}

In [3]:
pop = pd.read_csv('../data/demo_pjan_linear.csv')

In [4]:
pop = pop.drop(columns=['freq','OBS_FLAG','DATAFLOW','freq','unit'])

In [5]:
pop = pop.rename(columns={'LAST UPDATE':'UPDATE_pop','OBS_VALUE':'poblacion'})

In [6]:
pop = pop[(pop['age']=='TOTAL')&(pop['sex']=='T')]

In [7]:
pop['Pais'] = pop['geo'].map(dic)

In [8]:
df = pd.read_csv('../data/migr_pop3ctb_linear.csv')

In [9]:
df = df.drop(columns=['DATAFLOW','freq','unit','OBS_FLAG'])

In [10]:
df = df.rename(columns={'LAST UPDATE':'UPDATE_inm','OBS_VALUE':'inmigrantes'})

In [11]:
df['Pais'] = df['geo'].map(dic)

In [12]:
NOEUROPA = df[(df['sex']=='T')&(df['age']=='TOTAL')&(df['c_birth']=='NEU27_2020_FOR')]
TOTAL = df[(df['sex']=='T')&(df['age']=='TOTAL')&(df['c_birth']=='FOR')]
OCEANIA = df[(df['sex']=='T')&(df['age']=='TOTAL')&(df['c_birth']=='OCE')]
AFRICA = df[(df['sex']=='T')&(df['age']=='TOTAL')&(df['c_birth']=='AFR')]
AMERICANORTE = df[(df['sex']=='T')&(df['age']=='TOTAL')&(df['c_birth']=='AME_N')]
AMERICASUR = df[(df['sex']=='T')&(df['age']=='TOTAL')&(df['c_birth']=='AME_S')]
AMERICACENTRO = df[(df['sex']=='T')&(df['age']=='TOTAL')&(df['c_birth']=='AME_C')]
ASIA = df[(df['sex']=='T')&(df['age']=='TOTAL')&(df['c_birth']=='ASI')]

In [13]:
NOEUROPA = pd.merge(pop, NOEUROPA, on=['TIME_PERIOD','geo'], how='outer')
TOTAL = pd.merge(pop, TOTAL, on=['TIME_PERIOD','geo'], how='outer')
OCEANIA = pd.merge(pop, OCEANIA, on=['TIME_PERIOD','geo'], how='outer')
AFRICA = pd.merge(pop, AFRICA, on=['TIME_PERIOD','geo'], how='outer')
AMERICANORTE = pd.merge(pop, AMERICANORTE, on=['TIME_PERIOD','geo'], how='outer')
AMERICASUR = pd.merge(pop, AMERICASUR, on=['TIME_PERIOD','geo'], how='outer')
AMERICACENTRO = pd.merge(pop, AMERICACENTRO, on=['TIME_PERIOD','geo'], how='outer')
ASIA = pd.merge(pop, ASIA, on=['TIME_PERIOD','geo'], how='outer')

In [14]:
NOEUROPA['Porcentaje'] = NOEUROPA['inmigrantes']*100/NOEUROPA['poblacion']
TOTAL['Porcentaje'] = TOTAL['inmigrantes']*100/TOTAL['poblacion']
OCEANIA['Porcentaje'] = OCEANIA['inmigrantes']*100/OCEANIA['poblacion']
AFRICA['Porcentaje'] = AFRICA['inmigrantes']*100/AFRICA['poblacion']
AMERICANORTE['Porcentaje'] = AMERICANORTE['inmigrantes']*100/AMERICANORTE['poblacion']
AMERICASUR['Porcentaje'] = AMERICASUR['inmigrantes']*100/AMERICASUR['poblacion']
AMERICACENTRO['Porcentaje'] = AMERICACENTRO['inmigrantes']*100/AMERICACENTRO['poblacion']
ASIA['Porcentaje'] = ASIA['inmigrantes']*100/ASIA['poblacion']

In [17]:
NOEUROPA = pd.pivot_table(NOEUROPA, values='Porcentaje', index='Pais_x', columns='TIME_PERIOD').reset_index()
TOTAL = pd.pivot_table(TOTAL, values='Porcentaje', index='Pais_x', columns='TIME_PERIOD').reset_index()
OCEANIA = pd.pivot_table(OCEANIA, values='Porcentaje', index='Pais_x', columns='TIME_PERIOD').reset_index()
AFRICA = pd.pivot_table(AFRICA, values='Porcentaje', index='Pais_x', columns='TIME_PERIOD').reset_index()
AMERICANORTE = pd.pivot_table(AMERICANORTE, values='Porcentaje', index='Pais_x', columns='TIME_PERIOD').reset_index()
AMERICASUR = pd.pivot_table(AMERICASUR, values='Porcentaje', index='Pais_x', columns='TIME_PERIOD').reset_index()
AMERICACENTRO = pd.pivot_table(AMERICACENTRO, values='Porcentaje', index='Pais_x', columns='TIME_PERIOD').reset_index()
ASIA = pd.pivot_table(ASIA, values='Porcentaje', index='Pais_x', columns='TIME_PERIOD').reset_index()

In [18]:
NOEUROPA['Dif_10'] = NOEUROPA[2023] - NOEUROPA[2013]
NOEUROPA['Dif_5'] = NOEUROPA[2023] - NOEUROPA[2018]
TOTAL['Dif_10'] = TOTAL[2023] - TOTAL[2013]
TOTAL['Dif_5'] = TOTAL[2023] - TOTAL[2018]
OCEANIA['Dif_10'] = OCEANIA[2023] - OCEANIA[2013]
OCEANIA['Dif_5'] = OCEANIA[2023] - OCEANIA[2018]
AFRICA['Dif_10'] = AFRICA[2023] - AFRICA[2013]
AFRICA['Dif_5'] = AFRICA[2023] - AFRICA[2018]

In [19]:
AMERICANORTE['Dif_10'] = AMERICANORTE[2023] - AMERICANORTE[2013]
AMERICANORTE['Dif_5'] = AMERICANORTE[2023] - AMERICANORTE[2018]
AMERICASUR['Dif_10'] = AMERICASUR[2023] - AMERICASUR[2013]
AMERICASUR['Dif_5'] = AMERICASUR[2023] - AMERICASUR[2018]
AMERICACENTRO['Dif_10'] = AMERICACENTRO[2023] - AMERICACENTRO[2013]
AMERICACENTRO['Dif_5'] = AMERICACENTRO[2023] - AMERICACENTRO[2018]
ASIA['Dif_10'] = ASIA[2023] - ASIA[2013]
ASIA['Dif_5'] = ASIA[2023] - ASIA[2018]

In [20]:
NOEUROPA.describe()

TIME_PERIOD,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,Dif_10,Dif_5
count,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000,24.000000,24.000000,25.000000,24.000000,31.000000,30.000000,31.000000,1.000000,22.000000
mean,7.303209,7.383409,7.504859,7.937572,8.574319,8.765423,8.950759,9.187308,9.157587,9.499071,10.005686,10.424584,9.997973,4.588828,1.732367
std,NaN,NaN,NaN,NaN,0.420375,0.346850,8.314062,8.428049,8.499999,8.794515,7.926820,8.046944,4.798844,NaN,1.257807
min,7.303209,7.383409,7.504859,7.937572,8.277069,8.520163,0.730662,0.772094,0.815020,0.860152,0.898589,1.026329,1.047839,4.588828,0.064615
25%,7.303209,7.383409,7.504859,7.937572,8.425694,8.642793,4.152329,4.363168,4.347781,4.394775,5.646041,6.786629,7.504388,4.588828,0.924308
50%,7.303209,7.383409,7.504859,7.937572,8.574319,8.765423,8.796748,9.084764,9.452721,9.723042,10.044772,10.416672,11.043098,4.588828,1.572580
75%,7.303209,7.383409,7.504859,7.937572,8.722944,8.888053,10.778592,10.858494,10.716899,11.206962,11.547358,11.823471,12.301928,4.588828,2.387407
max,7.303209,7.383409,7.504859,7.937572,8.871569,9.010683,43.469981,44.188487,44.978894,45.786771,46.506209,47.277908,20.857263,4.588828,4.730511

In [21]:
TOTAL.describe()

TIME_PERIOD,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,Dif_10,Dif_5
count,1.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,4.000000,7.000000,27.000000,28.000000,29.000000,29.000000,31.000000,32.000000,32.000000,32.000000,32.000000,32.000000,33.000000,31.000000,31.000000,30.000000,31.000000,29.000000,30.000000
mean,6.745218,7.319877,6.002679,6.685780,7.233524,7.741606,8.188386,10.904590,12.453660,13.342227,13.151193,13.195970,13.714224,13.421297,13.583932,13.821834,14.129452,14.486849,14.935336,15.000161,15.903933,16.104685,16.697654,15.583429,3.835074,2.400342
std,NaN,NaN,0.444991,0.634196,1.562173,2.467395,3.323499,3.963820,3.625090,11.457458,11.557016,11.777999,12.378792,12.281384,12.157099,12.250438,12.401552,12.512596,12.655038,12.781242,13.132928,13.277950,13.439508,9.619298,4.023638,2.378461
min,6.745218,7.319877,5.688023,6.237336,6.128901,5.996894,5.838317,5.683199,5.535570,1.188508,1.195122,1.066853,1.161095,0.913778,1.058839,1.414388,1.649834,1.716603,1.832308,2.003668,2.237518,2.524023,2.524164,2.538839,-0.993224,-0.630887
25%,6.745218,7.319877,5.845351,6.461558,6.681213,6.869250,7.013352,9.685276,11.215891,8.448255,7.782948,7.145597,8.076872,6.779902,7.544752,7.690327,7.827683,7.960250,8.278055,6.838810,8.726752,8.978342,10.691340,9.583136,1.333932,0.750699
50%,6.745218,7.319877,6.002679,6.685780,7.233524,7.741606,8.188386,11.315277,12.872909,11.644623,11.347536,11.219246,11.394234,11.499862,11.657534,11.941755,12.665151,12.921705,12.890882,12.936118,13.437008,13.884646,14.239334,14.609971,3.374400,1.953897
75%,6.745218,7.319877,6.160007,6.910003,7.785836,8.613962,9.363421,12.534590,15.092600,14.429388,14.436443,14.806350,15.147651,15.218478,15.113699,15.071402,15.213379,15.540728,16.798821,17.217999,17.995940,18.260238,18.897386,19.955525,4.971960,2.869853
max,6.745218,7.319877,6.317335,7.134225,8.338147,9.486317,10.538455,15.304607,16.150156,62.286100,62.244386,62.242386,62.492118,62.731419,63.088152,63.691591,64.433044,65.152076,65.849819,66.603262,67.311018,68.006657,68.614531,50.405639,19.105939,10.761545

In [22]:
OCEANIA.describe()

TIME_PERIOD,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,Dif_10,Dif_5
count,4.000000,3.000000,7.000000,7.000000,12.000000,10.000000,11.000000,9.000000,10.000000,10.000000,13.000000,13.000000,16.000000,15.000000,18.000000,21.000000,19.000000,20.000000,20.000000,21.000000,19.000000,20.000000,18.000000,15.000000,18.000000,14.000000,18.000000
mean,0.033937,0.045816,0.037586,0.028177,0.049096,0.055689,0.028731,0.033182,0.054496,0.057021,0.045090,0.044573,0.043867,0.034065,0.030195,0.029605,0.030869,0.032815,0.035779,0.036449,0.034604,0.038087,0.039534,0.034562,0.033162,0.007101,0.003662
std,0.031375,0.033142,0.030316,0.028417,0.073658,0.080188,0.022838,0.023403,0.070420,0.070613,0.054001,0.046976,0.047868,0.029246,0.028888,0.028312,0.029179,0.030122,0.030680,0.031214,0.028863,0.032566,0.032515,0.030335,0.028981,0.007200,0.003902
min,0.010545,0.015545,0.000545,0.001794,0.000726,0.005315,0.010490,0.012074,0.007515,0.014441,0.002541,0.002560,0.002615,0.003071,0.000090,0.000130,0.000473,0.001012,0.001471,0.001920,0.002210,0.002716,0.003720,0.002245,0.002204,-0.001126,-0.001558
25%,0.014502,0.028110,0.015366,0.013296,0.014188,0.016172,0.012830,0.016915,0.018444,0.018932,0.018627,0.018663,0.018102,0.008058,0.006062,0.006611,0.007753,0.007348,0.008164,0.008506,0.008879,0.009563,0.011614,0.009707,0.009443,0.001153,0.000780
50%,0.022926,0.040675,0.037055,0.016549,0.029608,0.030757,0.018022,0.028228,0.034421,0.035280,0.030510,0.036020,0.027583,0.030158,0.021380,0.019892,0.019195,0.022211,0.029786,0.026101,0.027148,0.024534,0.032013,0.019987,0.023763,0.006173,0.002643
75%,0.042361,0.060952,0.055517,0.032812,0.041773,0.042762,0.037294,0.039811,0.045611,0.051713,0.046757,0.049031,0.051425,0.048178,0.046350,0.050972,0.047745,0.054217,0.057136,0.058546,0.060047,0.062844,0.066528,0.060612,0.058549,0.010379,0.006486
max,0.079352,0.081228,0.083736,0.086680,0.271073,0.274141,0.086670,0.085875,0.244740,0.248286,0.208346,0.180880,0.191670,0.096359,0.096703,0.098751,0.100198,0.101488,0.102119,0.102533,0.094548,0.104287,0.105279,0.092975,0.094406,0.020529,0.010033

In [23]:
AFRICA.describe()

TIME_PERIOD,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,Dif_10,Dif_5
count,3.000000,9.000000,9.000000,12.000000,14.000000,12.000000,10.000000,11.000000,9.000000,10.000000,10.000000,13.000000,13.000000,16.000000,15.000000,18.000000,21.000000,19.000000,20.000000,20.000000,21.000000,19.000000,20.000000,18.000000,15.000000,18.000000,14.000000,18.000000
mean,0.544664,1.043569,0.554005,0.696634,0.870296,0.622047,0.766381,1.063343,0.734283,0.797897,1.155846,1.066392,1.089038,0.995166,0.588416,0.631707,0.821780,0.846288,0.818347,1.013740,1.005294,1.044283,1.035776,1.183033,1.129617,1.194882,0.213416,0.206171
std,0.571060,1.478833,0.585443,0.736388,1.007358,0.638608,0.679373,1.554556,0.689178,0.678522,0.969115,1.003546,1.050481,1.054727,0.676245,0.761671,1.056301,1.100484,1.089420,1.231496,1.257610,1.336332,1.378476,1.468959,1.635842,1.634112,0.273000,0.364002
min,0.013703,0.013799,0.002640,0.001004,0.006299,0.003175,0.004524,0.004223,0.004893,0.006021,0.019301,0.007633,0.011947,0.012907,0.005771,0.005831,0.005436,0.005854,0.003981,0.005021,0.008046,0.010737,0.016463,0.020177,0.017213,0.022259,0.007332,-0.003704
25%,0.242609,0.177493,0.139760,0.132644,0.190942,0.145639,0.261694,0.135168,0.259914,0.325033,0.504775,0.349341,0.245254,0.195694,0.035994,0.023661,0.024097,0.028412,0.035117,0.035184,0.039770,0.051913,0.053367,0.051053,0.049389,0.041586,0.024580,0.015101
50%,0.471514,0.501527,0.510618,0.563567,0.594123,0.479603,0.646360,0.595723,0.592248,0.708767,0.931601,0.980225,1.098761,0.564593,0.375600,0.364086,0.449783,0.481721,0.409515,0.566690,0.529989,0.544583,0.518750,0.617964,0.545651,0.383263,0.118291,0.078470
75%,0.810144,1.175826,0.602578,1.024369,1.041925,0.827818,1.266946,1.216306,0.847094,1.074228,1.644891,1.785483,1.777107,1.545546,0.979532,1.213469,1.562821,1.687183,1.740516,1.888433,1.942698,1.946363,1.940304,2.099728,1.496168,2.167272,0.331390,0.223546
max,1.148774,4.737652,1.660772,2.279173,3.365417,1.864830,1.882067,5.354112,1.846211,1.944724,3.217505,3.364292,3.523324,3.805016,1.859890,2.199096,4.079363,4.137694,4.211856,4.277314,4.358259,4.455171,4.571237,4.661816,4.773068,5.078169,0.990669,1.541488

In [24]:
AMERICANORTE.describe()

TIME_PERIOD,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,Dif_10,Dif_5
count,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,3.000000,13.000000,13.000000,16.000000,17.000000,19.000000,21.000000,19.000000,20.000000,20.000000,21.000000,19.000000,20.000000,18.000000,15.000000,18.000000,15.000000,18.000000
mean,0.064474,0.070173,0.074761,0.078161,0.080586,0.340757,0.275212,0.205934,0.243491,0.236415,0.210634,0.196222,0.200277,0.197092,0.208936,0.234811,0.236502,0.234241,0.253892,0.260317,0.250650,0.210107,0.037986,0.022318
std,NaN,NaN,NaN,NaN,NaN,0.365266,0.286764,0.185389,0.218194,0.211644,0.208165,0.209462,0.208384,0.210362,0.214921,0.227661,0.226436,0.224958,0.240631,0.248473,0.263322,0.227022,0.040564,0.028564
min,0.064474,0.070173,0.074761,0.078161,0.080586,0.082475,0.084876,0.031422,0.016937,0.017339,0.026164,0.011833,0.012142,0.015067,0.016998,0.016187,0.018975,0.021402,0.024516,0.028186,0.036173,0.025217,-0.008244,-0.014188
25%,0.064474,0.070173,0.074761,0.078161,0.080586,0.211616,0.110300,0.086783,0.088062,0.080935,0.055266,0.052956,0.053516,0.051037,0.053030,0.054018,0.056365,0.069732,0.061520,0.064924,0.066107,0.063182,0.017406,0.004527
50%,0.064474,0.070173,0.074761,0.078161,0.080586,0.340757,0.135725,0.140529,0.184476,0.162832,0.138441,0.108722,0.110360,0.112359,0.120829,0.140925,0.130362,0.128837,0.147664,0.152581,0.130168,0.132405,0.023842,0.018864
75%,0.064474,0.070173,0.074761,0.078161,0.080586,0.469898,0.370379,0.201494,0.392059,0.388423,0.220946,0.219943,0.232818,0.229464,0.271123,0.386099,0.404051,0.337126,0.425496,0.402489,0.366983,0.256872,0.048191,0.027301
max,0.064474,0.070173,0.074761,0.078161,0.080586,0.599039,0.605034,0.615506,0.675944,0.674199,0.675272,0.722370,0.730799,0.718323,0.736778,0.758093,0.762807,0.785174,0.803276,0.836244,0.882662,0.878899,0.156528,0.116092

In [25]:
AMERICACENTRO.describe()

TIME_PERIOD,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,Dif_10,Dif_5
count,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,3.000000,13.000000,13.000000,16.000000,17.000000,19.000000,21.000000,19.000000,20.000000,20.000000,21.000000,19.000000,20.000000,18.000000,14.000000,17.000000,15.000000,17.000000
mean,0.091499,0.107656,0.121638,0.134173,0.146671,0.096064,0.082667,0.041628,0.045487,0.052221,0.049820,0.047158,0.046025,0.049653,0.036391,0.043163,0.043230,0.042234,0.048795,0.055953,0.053061,0.047551,0.017225,0.013380
std,NaN,NaN,NaN,NaN,NaN,0.101739,0.101522,0.056718,0.059082,0.062587,0.066648,0.068224,0.065868,0.071709,0.040922,0.044184,0.044859,0.040299,0.050047,0.053779,0.053287,0.045265,0.015545,0.013003
min,0.091499,0.107656,0.121638,0.134173,0.146671,0.024124,0.023568,0.000928,0.001299,0.001113,0.000929,0.000519,0.000578,0.000650,0.000554,0.000597,0.000783,0.001467,0.002254,0.002483,0.002985,0.001769,0.001249,-0.000330
25%,0.091499,0.107656,0.121638,0.134173,0.146671,0.060094,0.024055,0.012842,0.014221,0.012552,0.004436,0.003572,0.003736,0.003342,0.003830,0.004150,0.004741,0.007044,0.006550,0.007290,0.008471,0.008314,0.003831,0.003153
50%,0.091499,0.107656,0.121638,0.134173,0.146671,0.096064,0.024541,0.028504,0.033520,0.033720,0.033061,0.029993,0.031665,0.033116,0.028491,0.038678,0.038403,0.039588,0.035201,0.045667,0.042102,0.036269,0.017860,0.011165
75%,0.091499,0.107656,0.121638,0.134173,0.146671,0.132034,0.112217,0.037964,0.048378,0.055740,0.050692,0.052070,0.047686,0.054679,0.050658,0.057854,0.055755,0.057052,0.073412,0.088654,0.070779,0.074429,0.026939,0.020320
max,0.091499,0.107656,0.121638,0.134173,0.146671,0.168004,0.199893,0.218658,0.229189,0.243374,0.263442,0.278172,0.277996,0.293805,0.140120,0.143701,0.149526,0.138100,0.158459,0.164446,0.165361,0.149816,0.054036,0.045997

In [26]:
AMERICASUR.describe()

TIME_PERIOD,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,Dif_10,Dif_5
count,1.000000,1.000000,1.00000,1.00000,1.000000,2.000000,3.000000,13.000000,13.000000,16.000000,15.000000,18.000000,21.000000,19.000000,20.000000,20.000000,21.000000,19.000000,20.000000,18.000000,14.000000,17.000000,14.000000,17.000000
mean,1.901895,2.584889,3.08222,3.38915,3.657857,2.088376,1.550427,0.673706,0.680412,0.645551,0.359048,0.532520,0.486910,0.514795,0.323667,0.371182,0.365642,0.354033,0.375590,0.474496,0.471381,0.436534,0.105589,0.119308
std,NaN,NaN,NaN,NaN,NaN,2.703844,2.414541,1.224294,1.209216,1.080751,0.457606,0.995928,0.888308,0.915425,0.421552,0.433266,0.438054,0.422815,0.462916,0.554906,0.586564,0.562949,0.164732,0.179097
min,1.901895,2.584889,3.08222,3.38915,3.657857,0.176470,0.134557,0.001982,0.003859,0.004135,0.004450,0.000485,0.001168,0.001147,0.003406,0.004571,0.005683,0.007708,0.008440,0.009877,0.010341,0.006187,0.004992,0.000505
25%,1.901895,2.584889,3.08222,3.38915,3.657857,1.132423,0.156449,0.055629,0.059423,0.056056,0.014546,0.011082,0.012388,0.012123,0.014660,0.017535,0.023167,0.019765,0.025126,0.030952,0.035010,0.032870,0.011139,0.009703
50%,1.901895,2.584889,3.08222,3.38915,3.657857,2.088376,0.178340,0.226062,0.272232,0.245180,0.145811,0.110177,0.153836,0.158254,0.122809,0.194706,0.175884,0.184314,0.149701,0.256234,0.221554,0.127535,0.048793,0.048998
75%,1.901895,2.584889,3.08222,3.38915,3.657857,3.044329,2.258362,0.657689,0.668741,0.784631,0.708802,0.743017,0.695469,0.736942,0.509320,0.727563,0.700092,0.588238,0.542808,0.851632,0.799290,0.631322,0.086001,0.112921
max,1.901895,2.584889,3.08222,3.38915,3.657857,4.000282,4.338384,4.516325,4.473371,4.375868,1.392003,4.126159,3.936268,3.871274,1.374017,1.370816,1.380320,1.402353,1.428441,1.856906,1.883146,1.904359,0.518049,0.528789

In [27]:
ASIA.describe()

TIME_PERIOD,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,Dif_10,Dif_5
count,4.000000,3.000000,7.000000,7.000000,12.000000,10.000000,11.000000,9.000000,10.000000,10.000000,13.000000,13.000000,16.000000,15.000000,18.000000,21.000000,19.000000,20.000000,20.000000,21.000000,19.000000,20.000000,18.000000,15.000000,18.000000,14.000000,18.000000
mean,1.314312,1.381446,1.050961,0.700918,1.334761,1.555006,1.308602,1.527208,1.565571,1.649279,1.498199,1.584854,1.421567,1.356689,1.256868,1.374610,1.358773,1.596912,1.823584,1.859565,1.983346,2.042408,2.081288,1.669647,2.150283,0.781464,0.420489
std,1.100441,1.189926,0.883343,0.835135,1.054807,1.097181,1.058928,1.113620,1.092958,1.143499,1.160572,1.210252,1.113207,1.226280,1.205508,1.287037,1.313028,1.482323,1.611876,1.700212,1.804485,1.871914,1.842390,1.288717,2.074513,0.898838,0.402852
min,0.025931,0.027468,0.030501,0.029256,0.038295,0.041173,0.043853,0.050964,0.053423,0.059495,0.037812,0.066618,0.069375,0.076328,0.049001,0.056689,0.061790,0.077791,0.104719,0.113835,0.128636,0.143646,0.148339,0.167240,0.170719,0.066846,-0.057571
25%,0.584990,0.941732,0.368959,0.143518,0.407896,0.575514,0.494437,0.561232,0.683506,0.762888,0.742198,0.792299,0.802301,0.515500,0.406823,0.318040,0.342548,0.416697,0.671834,0.496821,0.718891,0.561296,0.633026,0.585957,0.651578,0.158555,0.108344
50%,1.488153,1.855997,0.832860,0.398217,0.970886,1.652383,0.936790,1.126383,1.301735,1.335035,1.236016,1.381135,1.290453,0.994711,0.912231,1.045005,1.091902,1.261513,1.565923,1.645115,1.589248,1.713265,1.940124,1.610359,1.561105,0.444968,0.309750
75%,2.217475,2.058436,1.710408,0.890802,2.286845,2.435710,2.398941,2.451860,2.424035,2.488078,2.473385,2.494234,1.890978,1.854201,1.520228,1.571218,1.638326,2.363534,2.595593,2.696323,2.776018,3.058735,2.967025,2.363336,2.923703,1.252154,0.665117
max,2.255012,2.260874,2.334630,2.410314,2.766792,2.905388,3.021498,3.147047,3.397314,3.652735,3.897477,4.154268,4.355371,4.537494,4.736229,4.996690,5.359115,5.735956,6.388797,6.888343,7.285020,7.575689,7.691544,3.843042,8.033318,3.297088,1.350081

In [28]:
ASIA

TIME_PERIOD,Pais_x,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,Dif_10,Dif_5
0,Austria,NaN,NaN,NaN,0.842932,0.924685,0.995201,1.067908,1.126383,1.158278,1.206826,1.236016,NaN,1.285754,1.343071,1.437234,1.523087,1.677137,2.297094,2.533916,2.609953,2.622541,2.649807,2.674544,NaN,3.013354,1.576120,0.403401
1,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.012190,1.064895,1.122611,1.295152,NaN,NaN,1.441126,1.490709,1.752709,1.819864,1.913070,2.017307,2.120905,2.179360,2.295297,2.454501,NaN,0.541430
2,Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.171641,0.168290,0.178487,0.215480,0.309503,0.370321,0.389321,0.421204,0.450983,0.480286,0.507956,0.555452,0.363633,0.185146,-0.057571
3,Czech Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.713251,0.792299,0.783762,0.753752,0.739626,0.750902,NaN,0.791228,0.856901,0.853568,0.919754,0.944928,0.707615,0.749522,0.806472,0.066846,-0.047096
4,Denmark,NaN,1.855997,1.979544,NaN,2.232894,2.309565,2.353067,2.392335,2.383716,2.504186,2.575384,2.641769,2.718398,2.774367,2.835455,2.943186,3.115616,3.405002,3.636309,3.735788,3.789889,3.802903,3.797950,3.843042,NaN,NaN,NaN
5,Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.812469,0.853233,0.865181,0.887652,0.919100,0.969728,1.026026,1.092119,NaN,NaN,1.268556,0.456087,0.298828
6,Finland,NaN,NaN,0.358996,0.398217,0.436529,0.471154,0.512488,0.561232,0.610807,0.679787,0.754875,0.836562,0.911823,0.994711,1.077990,1.169801,1.270617,1.364130,1.554595,1.708340,1.826830,1.963190,2.070009,2.203239,2.486156,1.408167,0.777817
7,France,0.771344,NaN,NaN,NaN,NaN,NaN,0.936790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Hungary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.277247,0.295889,0.318040,0.373210,0.432156,NaN,0.496821,0.542610,0.588299,0.608163,0.616461,0.729738,0.433850,0.232917
9,Iceland,NaN,NaN,0.832860,0.938672,1.017087,NaN,NaN,NaN,NaN,NaN,NaN,1.432170,1.479972,1.507314,1.547892,1.571218,1.599514,1.666020,1.761199,1.869135,2.014897,2.141519,2.292891,2.431375,2.654749,1.106856,0.785614
10,Ireland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.445191,1.463244,1.580423,1.713754,1.812845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.391698,1.381135,1.369993,1.358498,1.347161,1.381711,1.443667,1.516513,1.577252,1.645115,1.589248,NaN,1.810239,1.746273,1.853654,0.506493,0.208539
12,Latvia,NaN,NaN,NaN,NaN,0.871275,0.888593,0.891176,0.895562,0.901604,NaN,NaN,NaN,NaN,0.759238,0.746408,0.741756,0.749057,0.764415,0.766006,0.819333,0.895171,0.932025,0.915159,0.913551,0.998137,0.251729,0.178804
13,Liechtenstein,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.965449,0.981494,1.009827,1.045005,1.091902,1.158896,1.213965,1.309230,1.394028,1.463339,1.531174,1.610359,NaN,NaN,NaN
14,Lithuania,NaN,NaN,0.378922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.310348,0.311886,0.279482,0.286527,0.304852,0.327824,0.362587,0.427910,0.471739,0.625525,NaN,0.320673
15,Luxembourg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.441985,2.696323,2.929496,3.199767,3.377342,3.634817,4.046404,NaN,1.350081
16,Netherlands,2.204962,2.260874,2.334630,2.410314,2.448697,2.465680,2.463619,2.451860,2.437475,2.439752,2.473385,2.494234,2.507787,2.528507,2.539427,2.561427,2.623935,2.768795,2.992406,3.133667,3.226922,3.344232,3.467002,3.610442,3.840014,1.300587,0.706346
17,Norway,NaN,NaN,NaN,NaN,2.231577,2.345800,2.444814,2.564663,2.667730,2.804923,2.944667,3.111235,NaN,NaN,NaN,3.611313,NaN,3.867579,4.186587,4.414611,4.556988,4.670131,NaN,NaN,4.953959,NaN,0.539347
18,Poland,NaN,NaN,NaN,0.029256,NaN,NaN,NaN,NaN,NaN,NaN,0.037812,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Romania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.049001,0.056689,0.061790,0.077791,0.104719,0.113835,0.128636,0.184005,NaN,NaN,0.198693,0.149692,0.084857
20,Slovakia,NaN,NaN,NaN,NaN,0.071871,NaN,0.183018,NaN,NaN,NaN,NaN,0.066618,0.069375,0.076328,0.080561,0.113313,0.117812,0.123621,0.130682,0.134886,0.139402,0.143646,0.148339,0.167240,0.170719,0.090159,0.035834
21,Slovenia,0.025931,0.027468,0.030501,0.039067,0.038295,0.041173,0.043853,0.050964,0.053423,0.059495,0.064506,0.084026,0.083895,0.088932,0.095832,0.103053,0.107084,0.116026,0.130936,0.143501,NaN,0.177063,0.191467,0.195902,0.207513,0.111682,0.064012
22,Spain,NaN,NaN,NaN,0.247970,0.321996,0.388463,0.476387,0.554824,0.600170,0.669652,0.742198,0.772418,0.808480,NaN,0.814636,0.792446,0.797975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Sweden,2.255012,NaN,NaN,NaN,2.766792,2.905388,3.021498,3.147047,3.397314,3.652735,3.897477,4.154268,4.355371,4.537494,4.736229,4.996690,5.359115,5.735956,6.388797,6.888343,7.285020,7.575689,7.691544,NaN,8.033318,3.297088,1.144974
24,Switzerland,NaN,NaN,1.441272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.125377,2.201087,2.279508,2.366975,2.450986,2.562853,2.780624,2.869558,NaN,3.011724,3.064519,NaN,NaN,NaN,NaN
25,United Kingdom,NaN,NaN,NaN,NaN,2.655434,2.739047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
.

In [ ]:
pivot_noeuropa.to_csv('Porcentaje_noeur.csv', index=False)

In [ ]:
total_noeuropa.to_csv('inmigracion_noeur.csv', index=False)

In [ ]:
pivot.to_csv('Porcentaje.csv', index=False)

In [ ]:
total.to_csv('inmigracion.csv', index=False)