In [1]:
import pandas as pd
pd.set_option('display.max_rows', 320)
pd.set_option('display.max_columns', 50)

In [2]:
dic = {
    'AD': 'Andorra',
    'AL': 'Albania',
    'AM': 'Armenia',
    'AT': 'Austria',
    'AZ': 'Azerbaijan',
    'BA': 'Bosnia and Herzegovina',
    'BE': 'Belgium',
    'BG': 'Bulgaria',
    'BY': 'Belarus',
    'CH': 'Switzerland',
    'CY': 'Cyprus',
    'CZ': 'Czech Republic',
    'DE': 'Germany',
    'DE_TOT': 'Germany (until 1990 former territory of the FRG)',
    'DK': 'Denmark',
    'EA19': 'Euro Area (19 countries)',
    'EA20': 'Euro Area (20 countries)',
    'EE': 'Estonia',
    'EEA30_2007': 'EU-27 & EEA (30 countries, 2007-2013)',
    'EEA31': 'European Economic Area (31 countries)',
    'EFTA': 'European Free Trade Association',
    'EL': 'Greece',
    'ES': 'Spain',
    'EU27_2007': 'EU-27 (2007-2013)',
    'EU27_2020': 'EU-27 (from 2020)',
    'EU28': 'European Union (28 countries)',
    'FI': 'Finland',
    'FR': 'France',
    'FX': 'France (metropolitan)',
    'GE': 'Georgia',
    'HR': 'Croatia',
    'HU': 'Hungary',
    'IE': 'Ireland',
    'IS': 'Iceland',
    'IT': 'Italy',
    'LI': 'Liechtenstein',
    'LT': 'Lithuania',
    'LU': 'Luxembourg',
    'LV': 'Latvia',
    'MC': 'Monaco',
    'MD': 'Moldova',
    'ME': 'Montenegro',
    'MK': 'North Macedonia',
    'MT': 'Malta',
    'NL': 'Netherlands',
    'NO': 'Norway',
    'PL': 'Poland',
    'PT': 'Portugal',
    'RO': 'Romania',
    'RS': 'Serbia',
    'RU': 'Russia',
    'SE': 'Sweden',
    'SI': 'Slovenia',
    'SK': 'Slovakia',
    'SM': 'San Marino',
    'TR': 'Turkey',
    'UA': 'Ukraine',
    'UK': 'United Kingdom',
    'XK': 'Kosovo'
}

In [3]:
pop = pd.read_csv('../data/demo_pjan_linear.csv')

In [4]:
pop = pop.drop(columns=['freq','OBS_FLAG','DATAFLOW','freq','unit'])

In [5]:
pop = pop.rename(columns={'LAST UPDATE':'UPDATE_pop','OBS_VALUE':'poblacion'})

In [13]:
pop = pop[(pop['age']=='TOTAL')&(pop['sex']=='T')]

In [6]:
pop['Pais'] = pop['geo'].map(dic)

In [7]:
df = pd.read_csv('../data/migr_pop3ctb_linear.csv')

In [8]:
df = df.drop(columns=['DATAFLOW','freq','unit','OBS_FLAG'])

In [9]:
df = df.rename(columns={'LAST UPDATE':'UPDATE_inm','OBS_VALUE':'inmigrantes'})

In [10]:
df['Pais'] = df['geo'].map(dic)

In [12]:
NOEUROPA = df[(df['sex']=='T')&(df['age']=='TOTAL')&(df['c_birth']=='NEU27_2020_FOR')]
TOTAL = df[(df['sex']=='T')&(df['age']=='TOTAL')&(df['c_birth']=='FOR')]
OCEANIA = df[(df['sex']=='T')&(df['age']=='TOTAL')&(df['c_birth']=='OCE')]
AFRICA = df[(df['sex']=='T')&(df['age']=='TOTAL')&(df['c_birth']=='AFR')]
AMERICANORTE = df[(df['sex']=='T')&(df['age']=='TOTAL')&(df['c_birth']=='AME_N')]
AMERICASUR = df[(df['sex']=='T')&(df['age']=='TOTAL')&(df['c_birth']=='AME_S')]
AMERICACENTRO = df[(df['sex']=='T')&(df['age']=='TOTAL')&(df['c_birth']=='AME_C')]
ASIA = df[(df['sex']=='T')&(df['age']=='TOTAL')&(df['c_birth']=='ASI')]

In [16]:
NOEUROPA_T = pd.merge(pop, NOEUROPA, on=['TIME_PERIOD','geo'], how='outer')
TOTAL_T = pd.merge(pop, TOTAL, on=['TIME_PERIOD','geo'], how='outer')
OCEANIA_T = pd.merge(pop, OCEANIA, on=['TIME_PERIOD','geo'], how='outer')
AFRICA_T = pd.merge(pop, AFRICA, on=['TIME_PERIOD','geo'], how='outer')
AMERICANORTE_T = pd.merge(pop, AMERICANORTE, on=['TIME_PERIOD','geo'], how='outer')
AMERICASUR_T = pd.merge(pop, AMERICASUR, on=['TIME_PERIOD','geo'], how='outer')
AMERICACENTRO_T = pd.merge(pop, AMERICACENTRO, on=['TIME_PERIOD','geo'], how='outer')
ASIA_T = pd.merge(pop, ASIA, on=['TIME_PERIOD','geo'], how='outer')

In [ ]:
NOEUROPA_T['Porcentaje'] = NOEUROPA_T['inmigrantes']*100/NOEUROPA_T['poblacion']
TOTAL_T['Porcentaje'] = TOTAL_T['inmigrantes']*100/TOTAL_T['poblacion']
OCEANIA_T['Porcentaje'] = OCEANIA_T['inmigrantes']*100/OCEANIA_T['poblacion']
AFRICA_T['Porcentaje'] = AFRICA_T['inmigrantes']*100/AFRICA_T['poblacion']
AMERICANORTE_T['Porcentaje'] = AMERICANORTE_T['inmigrantes']*100/AMERICANORTE_T['poblacion']
NOEUROPA_T['Porcentaje'] = NOEUROPA_T['inmigrantes']*100/NOEUROPA_T['poblacion']
NOEUROPA_T['Porcentaje'] = NOEUROPA_T['inmigrantes']*100/NOEUROPA_T['poblacion']
NOEUROPA_T['Porcentaje'] = NOEUROPA_T['inmigrantes']*100/NOEUROPA_T['poblacion']

In [17]:
NOEUROPA_T

,UPDATE_pop,age_x,sex_x,geo,TIME_PERIOD,poblacion,Pais_x,UPDATE_inm,c_birth,age_y,sex_y,inmigrantes,Pais_y
0,19/04/24 23:00:00,TOTAL,T,AD,1986,44593.0,Andorra,NaN,NaN,NaN,NaN,NaN,NaN
1,19/04/24 23:00:00,TOTAL,T,AD,1987,46976.0,Andorra,NaN,NaN,NaN,NaN,NaN,NaN
2,19/04/24 23:00:00,TOTAL,T,AD,1988,48451.0,Andorra,NaN,NaN,NaN,NaN,NaN,NaN
3,19/04/24 23:00:00,TOTAL,T,AD,1989,50528.0,Andorra,NaN,NaN,NaN,NaN,NaN,NaN
4,19/04/24 23:00:00,TOTAL,T,AD,1990,50887.0,Andorra,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2976,19/04/24 23:00:00,TOTAL,T,XK,2018,1798506.0,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN
2977,19/04/24 23:00:00,TOTAL,T,XK,2019,1795666.0,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN
2978,19/04/24 23:00:00,TOTAL,T,XK,2020,1782115.0,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN
2979,19/04/24 23:00:00,TOTAL,T,XK,2021,1798186.0,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN
2980,19/04/24 23:00:00,TOTAL,T,XK,2022,1773971.0,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
total['Porcentaje'] = total['inmigrantes']*100/total['poblacion']

In [ ]:
total_noeuropa['Porcentaje'] = total_noeuropa['inmigrantes']*100/total['poblacion']

In [ ]:
total[total['geo']=='ES']

In [ ]:
len(total.geo.unique())

In [ ]:
total.geo.unique()

In [ ]:
total

In [ ]:
total_noeuropa

In [ ]:
publi = total[total['TIME_PERIOD']>1999]

In [ ]:
publi_noeuropa = total_noeuropa[total_noeuropa['TIME_PERIOD']>1999]

In [ ]:
publi_noeuropa

In [ ]:
publi

In [ ]:
publi['geo'].unique()

In [ ]:
publi[publi['geo']=='RU']

In [ ]:
pivot = pd.pivot_table(publi, values='Porcentaje', index='Pais', columns='TIME_PERIOD')
pivot = pivot.reset_index()

In [ ]:
pivot_noeuropa = pd.pivot_table(publi_noeuropa, values='Porcentaje', index='Pais', columns='TIME_PERIOD')
pivot_noeuropa = pivot_noeuropa.reset_index()

In [ ]:
pivot_noeuropa

In [ ]:
pivot_noeuropa['Dif_10'] = pivot_noeuropa[2023] - pivot_noeuropa[2013]
pivot_noeuropa['Dif_5'] = pivot_noeuropa[2023] - pivot_noeuropa[2018]
pivot_noeuropa['Dif_covid'] = pivot_noeuropa[2023] - pivot_noeuropa[2020]

In [ ]:
pivot['Dif_10'] = pivot[2023] - pivot[2013]
pivot['Dif_14'] = pivot[2023] - pivot[2009]
pivot['Dif_5'] = pivot[2023] - pivot[2018]
pivot['Dif_covid'] = pivot[2023] - pivot[2020]

In [ ]:
pivot.describe()

In [ ]:
pivot_noeuropa.describe()

In [ ]:
pivot_noeuropa

In [ ]:
pivot

In [ ]:
.

In [ ]:
pivot_noeuropa.to_csv('Porcentaje_noeur.csv', index=False)

In [ ]:
total_noeuropa.to_csv('inmigracion_noeur.csv', index=False)

In [ ]:
pivot.to_csv('Porcentaje.csv', index=False)

In [ ]:
total.to_csv('inmigracion.csv', index=False)