In [54]:
import pandas as pd
pd.set_option('display.max_rows', 200)

In [2]:
df = pd.read_csv('../data/migr_pop3ctb_linear.csv')

In [3]:
df = df.drop(columns=['DATAFLOW','freq','unit'])

,DATAFLOW,LAST UPDATE,freq,c_birth,age,unit,sex,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,AD,TOTAL,NR,F,AT,2002,0.0,NaN
1,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,AD,TOTAL,NR,F,AT,2003,0.0,NaN
2,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,AD,TOTAL,NR,F,AT,2004,0.0,NaN
3,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,AD,TOTAL,NR,F,AT,2005,0.0,NaN
4,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,AD,TOTAL,NR,F,AT,2006,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
6308397,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,ZW,Y_LT5,NR,T,SK,2020,0.0,NaN
6308398,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,ZW,Y_LT5,NR,T,SK,2021,0.0,NaN
6308399,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,ZW,Y_LT5,NR,T,SK,2022,0.0,NaN
6308400,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,ZW,Y_LT5,NR,T,SK,2023,0.0,NaN
6308401,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,ZW,Y_LT5,NR,T,UK,2004,2036.0,NaN

In [24]:
df['sex'].unique()

array(['F', 'M', 'T'], dtype=object)

In [25]:
df['age'].unique()

array(['TOTAL', 'UNK', 'Y10-14', 'Y15-19', 'Y15-64', 'Y20-24', 'Y25-29',
       'Y30-34', 'Y35-39', 'Y40-44', 'Y45-49', 'Y5-9', 'Y50-54', 'Y55-59',
       'Y60-64', 'Y65-69', 'Y70-74', 'Y75-79', 'Y80-84', 'Y85-89',
       'Y90-94', 'Y95-99', 'Y_GE100', 'Y_GE65', 'Y_GE85', 'Y_LT15',
       'Y_LT5'], dtype=object)

In [33]:
df['sex'].value_counts()

sex
M    2107067
F    2106800
T    2094535
Name: count, dtype: int64

In [19]:
df['OBS_FLAG'].value_counts()

OBS_FLAG
b      197926
p       44154
e       39899
be      18739
ep       2715
bp        572
bep       376
Name: count, dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6308402 entries, 0 to 6308401
Data columns (total 11 columns):
 #   Column       Dtype
---  ------       -----
 0   DATAFLOW     object
 1   LAST UPDATE  object
 2   freq         object
 3   c_birth      object
 4   age          object
 5   unit         object
 6   sex          object
 7   geo          object
 8   TIME_PERIOD  int64
 9   OBS_VALUE    float64
 10  OBS_FLAG     object
dtypes: float64(1), int64(1), object(9)
memory usage: 529.4+ MB

In [7]:
df.isna().sum()

DATAFLOW             0
LAST UPDATE          0
freq                 0
c_birth          23500
age                  0
unit                 0
sex                  0
geo                  0
TIME_PERIOD          0
OBS_VALUE        24300
OBS_FLAG       6004021
dtype: int64

In [28]:
df['geo'].unique()

array(['AT', 'BE', 'BG', 'CH', 'CY', 'CZ', 'DK', 'EE', 'FI', 'FR', 'HU',
       'IE', 'IS', 'IT', 'LI', 'LT', 'LU', 'LV', 'NL', 'NO', 'PL', 'PT',
       'RO', 'SE', 'SI', 'SK', 'UK', 'ES', 'TR', 'HR', 'DE', 'EL', 'MT',
       'EU27_2020', 'RS', 'AD', 'AL', 'AM', 'AZ', 'ME', 'MK', 'UA'],
      dtype=object)

In [5]:
df['c_birth'].unique()

array(['AD', 'AE', 'AF', 'AFR', 'AFR_C', 'AFR_E', 'AFR_N', 'AFR_OTH',
       'AFR_S', 'AFR_W', 'AG', 'AI', 'AL', 'AM', 'AME', 'AME_C', 'AME_N',
       'AME_OTH', 'AME_S', 'AN', 'AO', 'AQ', 'AR', 'AS', 'ASI', 'ASI_C',
       'ASI_E', 'ASI_OTH', 'ASI_S', 'ASI_S_E', 'ASI_W', 'AT', 'AU',
       'AU_NZ', 'AW', 'AZ', 'BA', 'BB', 'BD', 'BE', 'BF', 'BG', 'BH',
       'BI', 'BJ', 'BL', 'BM', 'BN', 'BO', 'BQ', 'BR', 'BS', 'BT', 'BW',
       'BY', 'BZ', 'CA', 'CC', 'CC3_07', 'CC4_10', 'CC8_22_FOR', 'CD',
       'CF', 'CG', 'CH', 'CI', 'CK', 'CL', 'CM', 'CN', 'CO', 'CR', 'CRB',
       'CU', 'CV', 'CW', 'CX', 'CY', 'CZ', 'CZ_SK', 'DE', 'DJ', 'DK',
       'DM', 'DO', 'DZ', 'EC', 'EE', 'EFTA', 'EFTA_FOR', 'EG', 'EH', 'EL',
       'ER', 'ES', 'ET', 'EU15', 'EU15_FOR', 'EU25', 'EU25_FOR',
       'EU27_2007', 'EU27_2007_FOR', 'EU27_2020_FOR', 'EU28', 'EU28_FOR',
       'EUR', 'EUR_OTH', 'EXT', 'EX_SU', 'EX_YU', 'FI', 'FJ', 'FK', 'FM',
       'FO', 'FOR', 'FR', 'FR91', 'FR92', 'FR93', 'FR94', 'GA', 'GD',
       'GE', 'GG', 'GH', 'GI', 'GL', 'GM', 'GN', 'GQ', 'GS', 'GT', 'GU',
       'GW', 'GY', 'HDC_EXT', 'HK', 'HN', 'HR', 'HT', 'HU', 'ID', 'IE',
       'IL', 'IM', 'IN', 'IO', 'IQ', 'IR', 'IS', 'IT', 'JE', 'JM', 'JO',
       'JP', 'KE', 'KG', 'KH', 'KI', 'KM', 'KN', 'KP', 'KR', 'KW', 'KY',
       'KZ', 'LA', 'LB', 'LC', 'LDC_EXT', 'LI', 'LK', 'LR', 'LS', 'LT',
       'LU', 'LV', 'LY', 'MA', 'MC', 'MD', 'MDC_EXT', 'ME', 'MEL', 'MF',
       'MG', 'MH', 'MIC', 'MK', 'ML', 'MM', 'MN', 'MO', 'MP', 'MR', 'MS',
       'MT', 'MU', 'MV', 'MW', 'MX', 'MY', 'MZ', nan, 'NAT', 'NC', 'NE',
       'NEU27_2007_FOR', 'NEU27_2020_FOR', 'NEU28_FOR', 'NF', 'NG', 'NI',
       'NL', 'NO', 'NP', 'NR', 'NU', 'NZ', 'OCE', 'OCE_OTH', 'OM', 'OTH',
       'PA', 'PE', 'PF', 'PG', 'PH', 'PK', 'PL', 'PM', 'PN', 'POL', 'PR',
       'PS', 'PT', 'PW', 'PY', 'QA', 'RNC', 'RO', 'RS', 'RS_ME', 'RU',
       'RW', 'SA', 'SB', 'SC', 'SD', 'SE', 'SG', 'SH', 'SI', 'SJ', 'SK',
       'SL', 'SM', 'SN', 'SO', 'SR', 'SS', 'ST', 'SV', 'SX', 'SY', 'SZ',
       'TC', 'TD', 'TF', 'TG', 'TH', 'TJ', 'TK', 'TL', 'TM', 'TN', 'TO',
       'TOTAL', 'TR', 'TT', 'TV', 'TW', 'TZ', 'UA', 'UG', 'UK', 'UNK',
       'US', 'UY', 'UZ', 'VA', 'VC', 'VE', 'VG', 'VI', 'VN', 'VU', 'WF',
       'WS', 'XK', 'YE', 'YT', 'ZA', 'ZM', 'ZW'], dtype=object)

In [35]:
DE_2022 = df[(df['geo']=='DE')&(df['TIME_PERIOD']==2022)&(df['sex']=='T')]

In [50]:
DE = df[(df['geo']=='DE')&(df['sex']=='T')&(df['age']=='TOTAL')&(df['c_birth']=='TOTAL')]

In [52]:
DEX = df[(df['geo']=='DE')&(df['sex']=='T')&(df['age']=='TOTAL')]

In [55]:
DEX

,DATAFLOW,LAST UPDATE,freq,c_birth,age,unit,sex,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
1193839,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,CC3_07,TOTAL,NR,T,DE,2009,1845938.0,NaN
1193840,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,CC3_07,TOTAL,NR,T,DE,2010,1795710.0,NaN
1193841,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,CC3_07,TOTAL,NR,T,DE,2011,1572414.0,b
1201961,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,CC4_10,TOTAL,NR,T,DE,2012,1606799.0,NaN
1201962,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,CC4_10,TOTAL,NR,T,DE,2013,1600532.0,NaN
1209104,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,CC8_22_FOR,TOTAL,NR,T,DE,2023,2910657.0,e
1814098,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EFTA_FOR,TOTAL,NR,T,DE,2009,48408.0,NaN
1814099,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EFTA_FOR,TOTAL,NR,T,DE,2010,53645.0,NaN
1814100,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EFTA_FOR,TOTAL,NR,T,DE,2012,38322.0,NaN
1814101,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EFTA_FOR,TOTAL,NR,T,DE,2013,45580.0,NaN
1814102,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EFTA_FOR,TOTAL,NR,T,DE,2014,42935.0,NaN
1814103,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EFTA_FOR,TOTAL,NR,T,DE,2016,49168.0,NaN
1814104,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EFTA_FOR,TOTAL,NR,T,DE,2017,58560.0,NaN
1814105,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EFTA_FOR,TOTAL,NR,T,DE,2018,87174.0,NaN
1814106,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EFTA_FOR,TOTAL,NR,T,DE,2019,79053.0,NaN
1814107,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EFTA_FOR,TOTAL,NR,T,DE,2020,80442.0,NaN
1814108,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EFTA_FOR,TOTAL,NR,T,DE,2021,96696.0,NaN
1814109,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EFTA_FOR,TOTAL,NR,T,DE,2022,86384.0,e
1814110,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EFTA_FOR,TOTAL,NR,T,DE,2023,96050.0,e
1991117,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU15,TOTAL,NR,T,DE,2011,71854582.0,b
1991118,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU15,TOTAL,NR,T,DE,2012,71821572.0,NaN
1991119,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU15,TOTAL,NR,T,DE,2013,71788611.0,NaN
1999970,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU15_FOR,TOTAL,NR,T,DE,2011,1299582.0,b
1999971,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU15_FOR,TOTAL,NR,T,DE,2012,1330492.0,NaN
1999972,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU15_FOR,TOTAL,NR,T,DE,2013,1403868.0,NaN
2008244,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU25,TOTAL,NR,T,DE,2011,71918796.0,b
2008245,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU25,TOTAL,NR,T,DE,2012,71905035.0,NaN
2008246,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU25,TOTAL,NR,T,DE,2013,71882388.0,NaN
2018618,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU25_FOR,TOTAL,NR,T,DE,2011,1363796.0,b
2018619,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU25_FOR,TOTAL,NR,T,DE,2012,1413955.0,NaN
2018620,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU25_FOR,TOTAL,NR,T,DE,2013,1497645.0,NaN
2027033,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2007,TOTAL,NR,T,DE,1999,77132007.0,NaN
2027034,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2007,TOTAL,NR,T,DE,2000,77246511.0,NaN
2027035,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2007,TOTAL,NR,T,DE,2001,77446264.0,NaN
2027036,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2007,TOTAL,NR,T,DE,2002,77572370.0,NaN
2027037,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2007,TOTAL,NR,T,DE,2003,77666478.0,NaN
2027038,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2007,TOTAL,NR,T,DE,2004,77669245.0,NaN
2027039,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2007,TOTAL,NR,T,DE,2005,77424913.0,NaN
2027040,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2007,TOTAL,NR,T,DE,2006,77405690.0,NaN
2027041,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2007,TOTAL,NR,T,DE,2007,77526114.0,NaN
2027042,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2007,TOTAL,NR,T,DE,2009,74859969.0,NaN
2027043,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2007,TOTAL,NR,T,DE,2010,74661914.0,NaN
2027044,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2007,TOTAL,NR,T,DE,2011,73631818.0,b
2027045,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2007,TOTAL,NR,T,DE,2012,73678017.0,NaN
2027046,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2007,TOTAL,NR,T,DE,2013,73797774.0,NaN
2039918,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2007_FOR,TOTAL,NR,T,DE,2009,3421094.0,NaN
2039919,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2007_FOR,TOTAL,NR,T,DE,2010,3396605.0,NaN
2039920,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2007_FOR,TOTAL,NR,T,DE,2011,3076818.0,b
2039921,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2007_FOR,TOTAL,NR,T,DE,2012,3186937.0,NaN
2039922,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2007_FOR,TOTAL,NR,T,DE,2013,3413031.0,NaN
2051193,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2020_FOR,TOTAL,NR,T,DE,2011,3076818.0,b
2051194,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2020_FOR,TOTAL,NR,T,DE,2012,3186937.0,b
2051195,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2020_FOR,TOTAL,NR,T,DE,2013,3413031.0,b
2051196,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2020_FOR,TOTAL,NR,T,DE,2021,6601127.0,NaN
2051197,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2020_FOR,TOTAL,NR,T,DE,2022,6235857.0,NaN
2051198,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2020_FOR,TOTAL,NR,T,DE,2023,6274275.0,NaN
2066569,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU28_FOR,TOTAL,NR,T,DE,2014,3836085.0,e
2066570,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU28_FOR,TOTAL,NR,T,DE,2015,4010360.0,e
2066571,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU28_FOR,TOTAL,NR,T,DE,2016,4351815.0,NaN
2066572,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU28_FOR,TOTAL,NR,T,DE,2017,4849902.0,NaN
2066573,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU28_FOR,TOTAL,NR,T,DE,2018,5951223.0,NaN
2066574,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU28_FOR,TOTAL,NR,T,DE,2019,6438316.0,NaN
2066575,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU28_FOR,TOTAL,NR,T,DE,2020,6436501.0,NaN
2083076,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EUR,TOTAL,NR,T,DE,2013,75443886.0,NaN
2109022,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EXT,TOTAL,NR,T,DE,2009,4233425.0,NaN
2109023,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EXT,TOTAL,NR,T,DE,2010,4566303.0,NaN
2109024,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EXT,TOTAL,NR,T,DE,2012,4285816.0,NaN
2109025,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EXT,TOTAL,NR,T,DE,2013,4397082.0,NaN
2278890,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,FOR,TOTAL,NR,T,DE,2009,9548865.0,NaN
2278891,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,FOR,TOTAL,NR,T,DE,2010,9812263.0,NaN
2278892,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,FOR,TOTAL,NR,T,DE,2011,8935603.0,b
2278893,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,FOR,TOTAL,NR,T,DE,2012,9117874.0,b
2278894,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,FOR,TOTAL,NR,T,DE,2013,9456225.0,b
2278895,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,FOR,TOTAL,NR,T,DE,2014,9807877.0,e
2278896,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,FOR,TOTAL,NR,T,DE,2015,10220418.0,e
2278897,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,FOR,TOTAL,NR,T,DE,2016,10908255.0,NaN
2278898,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,FOR,TOTAL,NR,T,DE,2017,12105436.0,NaN
2278899,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,FOR,TOTAL,NR,T,DE,2018,13745843.0,NaN
2278900,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,FOR,TOTAL,NR,T,DE,2019,14879635.0,NaN
2278901,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,FOR,TOTAL,NR,T,DE,2020,15040708.0,NaN
2278902,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,FOR,TOTAL,NR,T,DE,2021,15162728.0,NaN
2278903,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,FOR,TOTAL,NR,T,DE,2022,15287650.0,e
2278904,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,FOR,TOTAL,NR,T,DE,2023,16476370.0,e
2649351,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,HDC_EXT,TOTAL,NR,T,DE,2009,2694692.0,NaN
2649352,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,HDC_EXT,TOTAL,NR,T,DE,2010,3008438.0,NaN
2649353,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,HDC_EXT,TOTAL,NR,T,DE,2012,2719051.0,NaN
2649354,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,HDC_EXT,TOTAL,NR,T,DE,2013,2772027.0,NaN
3391604,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,LDC_EXT,TOTAL,NR,T,DE,2009,278102.0,NaN
3391605,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,LDC_EXT,TOTAL,NR,T,DE,2010,290170.0,NaN
3391606,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,LDC_EXT,TOTAL,NR,T,DE,2012,290784.0,NaN
3391607,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,LDC_EXT,TOTAL,NR,T,DE,2013,288420.0,NaN
3666872,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,MDC_EXT,TOTAL,NR,T,DE,2009,1260631.0,NaN
3666873,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,MDC_EXT,TOTAL,NR,T,DE,2010,1267695.0,NaN
3666874,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,MDC_EXT,TOTAL,NR,T,DE,2012,1275981.0,NaN
3666875,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,MDC_EXT,TOTAL,NR,T,DE,2013,1336635.0,NaN
4127047,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,NAT,TOTAL,NR,T,DE,2009,71438875.0,NaN
4127048,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,NAT,TOTAL,NR,T,DE,2010,71265309.0,NaN
4127049,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,NAT,TOTAL,NR,T,DE,2011,70555000.0,b
4127050,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,NAT,TOTAL,NR,T,DE,2012,70491080.0,b
4127051,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,NAT,TOTAL,NR,T,DE,2013,70384743.0,b
4127052,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,NAT,TOTAL,NR,T,DE,2014,70265851.0,e
4127053,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,NAT,TOTAL,NR,T,DE,2015,70302772.0,e
4127054,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,NAT,TOTAL,NR,T,DE,2016,70619967.0,NaN
4127055,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,NAT,TOTAL,NR,T,DE,2017,69803578.0,NaN
4127056,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,NAT,TOTAL,NR,T,DE,2018,68363304.0,NaN
4127057,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,NAT,TOTAL,NR,T,DE,2019,68139578.0,NaN
4127058,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,NAT,TOTAL,NR,T,DE,2020,68126003.0,NaN
4127059,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,NAT,TOTAL,NR,T,DE,2021,67952619.0,NaN
4127060,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,NAT,TOTAL,NR,T,DE,2022,67949474.0,e
4127061,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,NAT,TOTAL,NR,T,DE,2023,67882475.0,e
4208136,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,NEU27_2007_FOR,TOTAL,NR,T,DE,2009,6127771.0,NaN
4208137,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,NEU27_2007_FOR,TOTAL,NR,T,DE,2010,6415658.0,NaN
4208138,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,NEU27_2007_FOR,TOTAL,NR,T,DE,2011,5858785.0,b
4208139,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,NEU27_2007_FOR,TOTAL,NR,T,DE,2012,5930937.0,NaN
4208140,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,NEU27_2007_FOR,TOTAL,NR,T,DE,2013,6043194.0,NaN
4219389,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,NEU27_2020_FOR,TOTAL,NR,T,DE,2011,5858785.0,b
4219390,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,NEU27_2020_FOR,TOTAL,NR,T,DE,2012,5930937.0,b
4219391,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,NEU27_2020_FOR,TOTAL,NR,T,DE,2013,6043194.0,b
4219392,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,NEU27_2020_FOR,TOTAL,NR,T,DE,2021,8561601.0,NaN
4219393,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,NEU27_2020_FOR,TOTAL,NR,T,DE,2022,9051793.0,NaN
4219394,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,NEU27_2020_FOR,TOTAL,NR,T,DE,2023,10202095.0,NaN
4234532,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,NEU28_FOR,TOTAL,NR,T,DE,2014,5971792.0,e
4234533,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,NEU28_FOR,TOTAL,NR,T,DE,2015,6210058.0,e
4234534,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,NEU28_FOR,TOTAL,NR,T,DE,2016,6556440.0,NaN
4234535,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,NEU28_FOR,TOTAL,NR,T,DE,2017,7255534.0,NaN
4234536,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,NEU28_FOR,TOTAL,NR,T,DE,2018,7794620.0,NaN
4234537,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,NEU28_FOR,TOTAL,NR,T,DE,2019,8441319.0,NaN
4234538,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,NEU28_FOR,TOTAL,NR,T,DE,2020,8604207.0,NaN
5651841,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,1999,82037011.0,NaN
5651842,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2000,82163475.0,NaN
5651843,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2001,82259540.0,NaN
5651844,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2002,82440309.0,NaN
5651845,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2003,82536680.0,NaN
5651846,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2004,82531671.0,NaN
5651847,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2005,82500849.0,NaN
5651848,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2006,82437995.0,NaN
5651849,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2007,82314906.0,NaN
5651850,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2008,82217837.0,NaN
5651851,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2009,82002356.0,NaN
5651852,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2010,81802257.0,NaN
5651853,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2011,80222065.0,b
5651854,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2012,80327900.0,NaN
5651855,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2013,80523746.0,NaN
5651856,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2014,80767463.0,e
5651857,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2015,81197537.0,e
5651858,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2016,82175684.0,NaN
5651859,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2017,82521653.0,NaN
5651860,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2018,82792351.0,NaN
5651861,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2019,83019213.0,NaN
5651862,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2020,83166711.0,NaN
5651863,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2021,83155031.0,NaN
5651864,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2022,83237124.0,NaN
5651865,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2023,84358845.0,NaN
5887697,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,UNK,TOTAL,NR,T,DE,2009,1014616.0,NaN
5887698,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,UNK,TOTAL,NR,T,DE,2010,724685.0,NaN
5887699,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,UNK,TOTAL,NR,T,DE,2011,731462.0,b
5887700,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,UNK,TOTAL,NR,T,DE,2012,718946.0,b
5887701,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,UNK,TOTAL,NR,T,DE,2013,682778.0,b
5887702,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,UNK,TOTAL,NR,T,DE,2014,693735.0,e
5887703,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,UNK,TOTAL,NR,T,DE,2015,674347.0,e
5887704,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,UNK,TOTAL,NR,T,DE,2016,647462.0,NaN
5887705,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,UNK,TOTAL,NR,T,DE,2017,612639.0,NaN
5887706,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,UNK,TOTAL,NR,T,DE,2018,683204.0,NaN
5887707,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,UNK,TOTAL,NR,T,DE,2019,0.0,NaN
5887708,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,UNK,TOTAL,NR,T,DE,2020,0.0,NaN
5887709,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,UNK,TOTAL,NR,T,DE,2021,39684.0,NaN
5887710,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,UNK,TOTAL,NR,T,DE,2022,0.0,e
5887711,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,UNK,TOTAL,NR,T,DE,2023,0.0,e

In [51]:
DE

,DATAFLOW,LAST UPDATE,freq,c_birth,age,unit,sex,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
5651841,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,1999,82037011.0,NaN
5651842,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2000,82163475.0,NaN
5651843,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2001,82259540.0,NaN
5651844,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2002,82440309.0,NaN
5651845,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2003,82536680.0,NaN
5651846,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2004,82531671.0,NaN
5651847,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2005,82500849.0,NaN
5651848,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2006,82437995.0,NaN
5651849,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2007,82314906.0,NaN
5651850,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2008,82217837.0,NaN
5651851,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2009,82002356.0,NaN
5651852,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2010,81802257.0,NaN
5651853,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2011,80222065.0,b
5651854,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2012,80327900.0,NaN
5651855,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2013,80523746.0,NaN
5651856,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2014,80767463.0,e
5651857,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2015,81197537.0,e
5651858,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2016,82175684.0,NaN
5651859,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2017,82521653.0,NaN
5651860,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2018,82792351.0,NaN
5651861,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2019,83019213.0,NaN
5651862,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2020,83166711.0,NaN
5651863,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2021,83155031.0,NaN
5651864,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2022,83237124.0,NaN
5651865,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,TOTAL,TOTAL,NR,T,DE,2023,84358845.0,NaN

In [47]:
DE['c_birth'].unique()

array(['CC3_07', 'CC4_10', 'CC8_22_FOR', 'EFTA_FOR', 'EU15', 'EU15_FOR',
       'EU25', 'EU25_FOR', 'EU27_2007', 'EU27_2007_FOR', 'EU27_2020_FOR',
       'EU28_FOR', 'EUR', 'EXT', 'FOR', 'HDC_EXT', 'LDC_EXT', 'MDC_EXT',
       'NAT', 'NEU27_2007_FOR', 'NEU27_2020_FOR', 'NEU28_FOR', 'TOTAL',
       'UNK'], dtype=object)

In [44]:
DE.groupby('TIME_PERIOD').agg({'OBS_VALUE':'sum'})

               OBS_VALUE
TIME_PERIOD
1999         159169018.0
2000         159409986.0
2001         159705804.0
2002         160012679.0
2003         160203158.0
2004         160200916.0
2005         159925762.0
2006         159843685.0
2007         159841020.0
2008          82217837.0
2009         258774742.0
2010         259060652.0
2011         399956324.0
2012         409257372.0
2013         486214390.0
2014         171385738.0
2015         172615492.0
2016         175308791.0
2017         177207302.0
2018         179417719.0
2019         180997114.0
2020         181454572.0
2021         181569486.0
2022         181848282.0
2023         188200767.0

In [36]:
DE_2022.head(10)

,DATAFLOW,LAST UPDATE,freq,c_birth,age,unit,sex,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
1814109,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EFTA_FOR,TOTAL,NR,T,DE,2022,86384.0,e
2051197,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2020_FOR,TOTAL,NR,T,DE,2022,6235857.0,NaN
2052184,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2020_FOR,Y10-14,NR,T,DE,2022,175400.0,NaN
2052757,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2020_FOR,Y15-19,NR,T,DE,2022,141138.0,NaN
2053330,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2020_FOR,Y15-64,NR,T,DE,2022,3793725.0,NaN
2053903,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2020_FOR,Y20-24,NR,T,DE,2022,213431.0,NaN
2054476,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2020_FOR,Y25-29,NR,T,DE,2022,320749.0,NaN
2055049,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2020_FOR,Y30-34,NR,T,DE,2022,454694.0,NaN
2055622,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2020_FOR,Y35-39,NR,T,DE,2022,488717.0,NaN
2056195,ESTAT:MIGR_POP3CTB(1.0),25/04/24 23:00:00,A,EU27_2020_FOR,Y40-44,NR,T,DE,2022,503784.0,NaN

In [37]:
DE_2022['OBS_VALUE'].sum()

535401965.0