In [1]:
import pandas as pd
pd.set_option('display.max_rows', 200)

In [2]:
pop = pd.read_csv('../data/demo_pjan_linear.csv')

In [3]:
df = pd.read_csv('../data/migr_pop3ctb_linear.csv')

In [4]:
df = df.drop(columns=['DATAFLOW','freq','unit','OBS_FLAG'])

In [5]:
df['sex'].unique()

array(['F', 'M', 'T'], dtype=object)

In [6]:
df['age'].unique()

array(['TOTAL', 'UNK', 'Y10-14', 'Y15-19', 'Y15-64', 'Y20-24', 'Y25-29',
       'Y30-34', 'Y35-39', 'Y40-44', 'Y45-49', 'Y5-9', 'Y50-54', 'Y55-59',
       'Y60-64', 'Y65-69', 'Y70-74', 'Y75-79', 'Y80-84', 'Y85-89',
       'Y90-94', 'Y95-99', 'Y_GE100', 'Y_GE65', 'Y_GE85', 'Y_LT15',
       'Y_LT5'], dtype=object)

In [7]:
df['sex'].value_counts()

sex
M    2107067
F    2106800
T    2094535
Name: count, dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6308402 entries, 0 to 6308401
Data columns (total 7 columns):
 #   Column       Dtype
---  ------       -----
 0   LAST UPDATE  object
 1   c_birth      object
 2   age          object
 3   sex          object
 4   geo          object
 5   TIME_PERIOD  int64
 6   OBS_VALUE    float64
dtypes: float64(1), int64(1), object(5)
memory usage: 336.9+ MB

In [9]:
df.isna().sum()

LAST UPDATE        0
c_birth        23500
age                0
sex                0
geo                0
TIME_PERIOD        0
OBS_VALUE      24300
dtype: int64

In [10]:
df['geo'].unique()

array(['AT', 'BE', 'BG', 'CH', 'CY', 'CZ', 'DK', 'EE', 'FI', 'FR', 'HU',
       'IE', 'IS', 'IT', 'LI', 'LT', 'LU', 'LV', 'NL', 'NO', 'PL', 'PT',
       'RO', 'SE', 'SI', 'SK', 'UK', 'ES', 'TR', 'HR', 'DE', 'EL', 'MT',
       'EU27_2020', 'RS', 'AD', 'AL', 'AM', 'AZ', 'ME', 'MK', 'UA'],
      dtype=object)

In [11]:
df['c_birth'].unique()

array(['AD', 'AE', 'AF', 'AFR', 'AFR_C', 'AFR_E', 'AFR_N', 'AFR_OTH',
       'AFR_S', 'AFR_W', 'AG', 'AI', 'AL', 'AM', 'AME', 'AME_C', 'AME_N',
       'AME_OTH', 'AME_S', 'AN', 'AO', 'AQ', 'AR', 'AS', 'ASI', 'ASI_C',
       'ASI_E', 'ASI_OTH', 'ASI_S', 'ASI_S_E', 'ASI_W', 'AT', 'AU',
       'AU_NZ', 'AW', 'AZ', 'BA', 'BB', 'BD', 'BE', 'BF', 'BG', 'BH',
       'BI', 'BJ', 'BL', 'BM', 'BN', 'BO', 'BQ', 'BR', 'BS', 'BT', 'BW',
       'BY', 'BZ', 'CA', 'CC', 'CC3_07', 'CC4_10', 'CC8_22_FOR', 'CD',
       'CF', 'CG', 'CH', 'CI', 'CK', 'CL', 'CM', 'CN', 'CO', 'CR', 'CRB',
       'CU', 'CV', 'CW', 'CX', 'CY', 'CZ', 'CZ_SK', 'DE', 'DJ', 'DK',
       'DM', 'DO', 'DZ', 'EC', 'EE', 'EFTA', 'EFTA_FOR', 'EG', 'EH', 'EL',
       'ER', 'ES', 'ET', 'EU15', 'EU15_FOR', 'EU25', 'EU25_FOR',
       'EU27_2007', 'EU27_2007_FOR', 'EU27_2020_FOR', 'EU28', 'EU28_FOR',
       'EUR', 'EUR_OTH', 'EXT', 'EX_SU', 'EX_YU', 'FI', 'FJ', 'FK', 'FM',
       'FO', 'FOR', 'FR', 'FR91', 'FR92', 'FR93', 'FR94', 'GA', 'GD',
       'GE', 'GG', 'GH', 'GI', 'GL', 'GM', 'GN', 'GQ', 'GS', 'GT', 'GU',
       'GW', 'GY', 'HDC_EXT', 'HK', 'HN', 'HR', 'HT', 'HU', 'ID', 'IE',
       'IL', 'IM', 'IN', 'IO', 'IQ', 'IR', 'IS', 'IT', 'JE', 'JM', 'JO',
       'JP', 'KE', 'KG', 'KH', 'KI', 'KM', 'KN', 'KP', 'KR', 'KW', 'KY',
       'KZ', 'LA', 'LB', 'LC', 'LDC_EXT', 'LI', 'LK', 'LR', 'LS', 'LT',
       'LU', 'LV', 'LY', 'MA', 'MC', 'MD', 'MDC_EXT', 'ME', 'MEL', 'MF',
       'MG', 'MH', 'MIC', 'MK', 'ML', 'MM', 'MN', 'MO', 'MP', 'MR', 'MS',
       'MT', 'MU', 'MV', 'MW', 'MX', 'MY', 'MZ', nan, 'NAT', 'NC', 'NE',
       'NEU27_2007_FOR', 'NEU27_2020_FOR', 'NEU28_FOR', 'NF', 'NG', 'NI',
       'NL', 'NO', 'NP', 'NR', 'NU', 'NZ', 'OCE', 'OCE_OTH', 'OM', 'OTH',
       'PA', 'PE', 'PF', 'PG', 'PH', 'PK', 'PL', 'PM', 'PN', 'POL', 'PR',
       'PS', 'PT', 'PW', 'PY', 'QA', 'RNC', 'RO', 'RS', 'RS_ME', 'RU',
       'RW', 'SA', 'SB', 'SC', 'SD', 'SE', 'SG', 'SH', 'SI', 'SJ', 'SK',
       'SL', 'SM', 'SN', 'SO', 'SR', 'SS', 'ST', 'SV', 'SX', 'SY', 'SZ',
       'TC', 'TD', 'TF', 'TG', 'TH', 'TJ', 'TK', 'TL', 'TM', 'TN', 'TO',
       'TOTAL', 'TR', 'TT', 'TV', 'TW', 'TZ', 'UA', 'UG', 'UK', 'UNK',
       'US', 'UY', 'UZ', 'VA', 'VC', 'VE', 'VG', 'VI', 'VN', 'VU', 'WF',
       'WS', 'XK', 'YE', 'YT', 'ZA', 'ZM', 'ZW'], dtype=object)

In [12]:
TOTALES = df[(df['sex']=='T')&(df['age']=='TOTAL')&(df['c_birth']=='FOR')]

In [13]:
TOTALES = TOTALES.rename(columns={'LAST UPDATE':'UPDATE_inm','OBS_VALUE':'inmigrantes'})

In [14]:
pop

,DATAFLOW,LAST UPDATE,freq,unit,age,sex,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:DEMO_PJAN(1.0),19/04/24 23:00:00,A,NR,TOTAL,F,AD,1986,20898.0,NaN
1,ESTAT:DEMO_PJAN(1.0),19/04/24 23:00:00,A,NR,TOTAL,F,AD,1987,22148.0,NaN
2,ESTAT:DEMO_PJAN(1.0),19/04/24 23:00:00,A,NR,TOTAL,F,AD,1988,22814.0,NaN
3,ESTAT:DEMO_PJAN(1.0),19/04/24 23:00:00,A,NR,TOTAL,F,AD,1989,23813.0,NaN
4,ESTAT:DEMO_PJAN(1.0),19/04/24 23:00:00,A,NR,TOTAL,F,AD,1990,24171.0,NaN
...,...,...,...,...,...,...,...,...,...,...
719029,ESTAT:DEMO_PJAN(1.0),19/04/24 23:00:00,A,NR,Y_OPEN,T,XK,2018,257.0,NaN
719030,ESTAT:DEMO_PJAN(1.0),19/04/24 23:00:00,A,NR,Y_OPEN,T,XK,2019,387.0,NaN
719031,ESTAT:DEMO_PJAN(1.0),19/04/24 23:00:00,A,NR,Y_OPEN,T,XK,2020,399.0,NaN
719032,ESTAT:DEMO_PJAN(1.0),19/04/24 23:00:00,A,NR,Y_OPEN,T,XK,2021,561.0,NaN
719033,ESTAT:DEMO_PJAN(1.0),19/04/24 23:00:00,A,NR,Y_OPEN,T,XK,2022,795.0,NaN

In [15]:
pop = pop.drop(columns=['freq','OBS_FLAG','DATAFLOW','freq','unit'])

In [16]:
pop = pop.rename(columns={'LAST UPDATE':'UPDATE_pop','OBS_VALUE':'poblacion'})

In [18]:
total_pop = pop[(pop['age']=='TOTAL')&(pop['sex']=='T')]

In [19]:
total_pop.shape, TOTALES.shape

((2981, 6), (484, 7))

In [20]:
total = pd.merge(total_pop, TOTALES, on=['TIME_PERIOD','geo'], how='outer')

In [21]:
total.shape

(2981, 11)

In [22]:
total

,UPDATE_pop,age_x,sex_x,geo,TIME_PERIOD,poblacion,UPDATE_inm,c_birth,age_y,sex_y,inmigrantes
0,19/04/24 23:00:00,TOTAL,T,AD,1986,44593.0,NaN,NaN,NaN,NaN,NaN
1,19/04/24 23:00:00,TOTAL,T,AD,1987,46976.0,NaN,NaN,NaN,NaN,NaN
2,19/04/24 23:00:00,TOTAL,T,AD,1988,48451.0,NaN,NaN,NaN,NaN,NaN
3,19/04/24 23:00:00,TOTAL,T,AD,1989,50528.0,NaN,NaN,NaN,NaN,NaN
4,19/04/24 23:00:00,TOTAL,T,AD,1990,50887.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2976,19/04/24 23:00:00,TOTAL,T,XK,2018,1798506.0,NaN,NaN,NaN,NaN,NaN
2977,19/04/24 23:00:00,TOTAL,T,XK,2019,1795666.0,NaN,NaN,NaN,NaN,NaN
2978,19/04/24 23:00:00,TOTAL,T,XK,2020,1782115.0,NaN,NaN,NaN,NaN,NaN
2979,19/04/24 23:00:00,TOTAL,T,XK,2021,1798186.0,NaN,NaN,NaN,NaN,NaN
2980,19/04/24 23:00:00,TOTAL,T,XK,2022,1773971.0,NaN,NaN,NaN,NaN,NaN

In [23]:
total['Porcentaje'] = total['inmigrantes']*100/total['poblacion']

In [24]:
total[total['geo']=='ES']

,UPDATE_pop,age_x,sex_x,geo,TIME_PERIOD,poblacion,UPDATE_inm,c_birth,age_y,sex_y,inmigrantes,Porcentaje
1127,19/04/24 23:00:00,TOTAL,T,ES,1960,30327000.0,NaN,NaN,NaN,NaN,NaN,NaN
1128,19/04/24 23:00:00,TOTAL,T,ES,1961,30583000.0,NaN,NaN,NaN,NaN,NaN,NaN
1129,19/04/24 23:00:00,TOTAL,T,ES,1962,30895500.0,NaN,NaN,NaN,NaN,NaN,NaN
1130,19/04/24 23:00:00,TOTAL,T,ES,1963,31151231.0,NaN,NaN,NaN,NaN,NaN,NaN
1131,19/04/24 23:00:00,TOTAL,T,ES,1964,31442070.0,NaN,NaN,NaN,NaN,NaN,NaN
1132,19/04/24 23:00:00,TOTAL,T,ES,1965,31776320.0,NaN,NaN,NaN,NaN,NaN,NaN
1133,19/04/24 23:00:00,TOTAL,T,ES,1966,32132264.0,NaN,NaN,NaN,NaN,NaN,NaN
1134,19/04/24 23:00:00,TOTAL,T,ES,1967,32434123.0,NaN,NaN,NaN,NaN,NaN,NaN
1135,19/04/24 23:00:00,TOTAL,T,ES,1968,32931771.0,NaN,NaN,NaN,NaN,NaN,NaN
1136,19/04/24 23:00:00,TOTAL,T,ES,1969,33294497.0,NaN,NaN,NaN,NaN,NaN,NaN
1137,19/04/24 23:00:00,TOTAL,T,ES,1970,33587610.0,NaN,NaN,NaN,NaN,NaN,NaN
1138,19/04/24 23:00:00,TOTAL,T,ES,1971,34040642.0,NaN,NaN,NaN,NaN,NaN,NaN
1139,19/04/24 23:00:00,TOTAL,T,ES,1972,34408338.0,NaN,NaN,NaN,NaN,NaN,NaN
1140,19/04/24 23:00:00,TOTAL,T,ES,1973,34800600.0,NaN,NaN,NaN,NaN,NaN,NaN
1141,19/04/24 23:00:00,TOTAL,T,ES,1974,35177294.0,NaN,NaN,NaN,NaN,NaN,NaN
1142,19/04/24 23:00:00,TOTAL,T,ES,1975,35569375.0,NaN,NaN,NaN,NaN,NaN,NaN
1143,19/04/24 23:00:00,TOTAL,T,ES,1976,35946425.0,NaN,NaN,NaN,NaN,NaN,NaN
1144,19/04/24 23:00:00,TOTAL,T,ES,1977,36329199.0,NaN,NaN,NaN,NaN,NaN,NaN
1145,19/04/24 23:00:00,TOTAL,T,ES,1978,36694077.0,NaN,NaN,NaN,NaN,NaN,NaN
1146,19/04/24 23:00:00,TOTAL,T,ES,1979,37035719.0,NaN,NaN,NaN,NaN,NaN,NaN
1147,19/04/24 23:00:00,TOTAL,T,ES,1980,37346940.0,NaN,NaN,NaN,NaN,NaN,NaN
1148,19/04/24 23:00:00,TOTAL,T,ES,1981,37635389.0,NaN,NaN,NaN,NaN,NaN,NaN
1149,19/04/24 23:00:00,TOTAL,T,ES,1982,37881873.0,NaN,NaN,NaN,NaN,NaN,NaN
1150,19/04/24 23:00:00,TOTAL,T,ES,1983,38090151.0,NaN,NaN,NaN,NaN,NaN,NaN
1151,19/04/24 23:00:00,TOTAL,T,ES,1984,38252899.0,NaN,NaN,NaN,NaN,NaN,NaN
1152,19/04/24 23:00:00,TOTAL,T,ES,1985,38407829.0,NaN,NaN,NaN,NaN,NaN,NaN
1153,19/04/24 23:00:00,TOTAL,T,ES,1986,38531195.0,NaN,NaN,NaN,NaN,NaN,NaN
1154,19/04/24 23:00:00,TOTAL,T,ES,1987,38638052.0,NaN,NaN,NaN,NaN,NaN,NaN
1155,19/04/24 23:00:00,TOTAL,T,ES,1988,38731578.0,NaN,NaN,NaN,NaN,NaN,NaN
1156,19/04/24 23:00:00,TOTAL,T,ES,1989,38802300.0,NaN,NaN,NaN,NaN,NaN,NaN
1157,19/04/24 23:00:00,TOTAL,T,ES,1990,38853227.0,NaN,NaN,NaN,NaN,NaN,NaN
1158,19/04/24 23:00:00,TOTAL,T,ES,1991,38881416.0,NaN,NaN,NaN,NaN,NaN,NaN
1159,19/04/24 23:00:00,TOTAL,T,ES,1992,39051336.0,NaN,NaN,NaN,NaN,NaN,NaN
1160,19/04/24 23:00:00,TOTAL,T,ES,1993,39264034.0,NaN,NaN,NaN,NaN,NaN,NaN
1161,19/04/24 23:00:00,TOTAL,T,ES,1994,39458489.0,NaN,NaN,NaN,NaN,NaN,NaN
1162,19/04/24 23:00:00,TOTAL,T,ES,1995,39639726.0,NaN,NaN,NaN,NaN,NaN,NaN
1163,19/04/24 23:00:00,TOTAL,T,ES,1996,39808374.0,NaN,NaN,NaN,NaN,NaN,NaN
1164,19/04/24 23:00:00,TOTAL,T,ES,1997,39971329.0,NaN,NaN,NaN,NaN,NaN,NaN
1165,19/04/24 23:00:00,TOTAL,T,ES,1998,40143449.0,NaN,NaN,NaN,NaN,NaN,NaN
1166,19/04/24 23:00:00,TOTAL,T,ES,1999,40303568.0,NaN,NaN,NaN,NaN,NaN,NaN
1167,19/04/24 23:00:00,TOTAL,T,ES,2000,40470182.0,NaN,NaN,NaN,NaN,NaN,NaN
1168,19/04/24 23:00:00,TOTAL,T,ES,2001,40665545.0,NaN,NaN,NaN,NaN,NaN,NaN
1169,19/04/24 23:00:00,TOTAL,T,ES,2002,41035278.0,25/04/24 23:00:00,FOR,TOTAL,T,2334096.0,5.688023
1170,19/04/24 23:00:00,TOTAL,T,ES,2003,41827838.0,25/04/24 23:00:00,FOR,TOTAL,T,2984092.0,7.134225
1171,19/04/24 23:00:00,TOTAL,T,ES,2004,42547451.0,25/04/24 23:00:00,FOR,TOTAL,T,3547669.0,8.338147
1172,19/04/24 23:00:00,TOTAL,T,ES,2005,43296338.0,25/04/24 23:00:00,FOR,TOTAL,T,4107228.0,9.486317
1173,19/04/24 23:00:00,TOTAL,T,ES,2006,44009971.0,25/04/24 23:00:00,FOR,TOTAL,T,4637971.0,10.538455
1174,19/04/24 23:00:00,TOTAL,T,ES,2007,44784666.0,25/04/24 23:00:00,FOR,TOTAL,T,5200060.0,11.611251
1175,19/04/24 23:00:00,TOTAL,T,ES,2008,45668939.0,25/04/24 23:00:00,FOR,TOTAL,T,5878921.0,12.872909
1176,19/04/24 23:00:00,TOTAL,T,ES,2009,46239273.0,25/04/24 23:00:00,FOR,TOTAL,T,6225516.0,13.463698
1177,19/04/24 23:00:00,TOTAL,T,ES,2010,46486619.0,25/04/24 23:00:00,FOR,TOTAL,T,6280062.0,13.509397
1178,19/04/24 23:00:00,TOTAL,T,ES,2011,46667174.0,25/04/24 23:00:00,FOR,TOTAL,T,6282205.0,13.461722
1179,19/04/24 23:00:00,TOTAL,T,ES,2012,46818219.0,25/04/24 23:00:00,FOR,TOTAL,T,6294954.0,13.445522
1180,19/04/24 23:00:00,TOTAL,T,ES,2013,46727890.0,25/04/24 23:00:00,FOR,TOTAL,T,6174740.0,13.214250
1181,19/04/24 23:00:00,TOTAL,T,ES,2014,46512199.0,25/04/24 23:00:00,FOR,TOTAL,T,5958308.0,12.810205
1182,19/04/24 23:00:00,TOTAL,T,ES,2015,46449565.0,25/04/24 23:00:00,FOR,TOTAL,T,5891208.0,12.683021
1183,19/04/24 23:00:00,TOTAL,T,ES,2016,46440099.0,25/04/24 23:00:00,FOR,TOTAL,T,5918341.0,12.744032
1184,19/04/24 23:00:00,TOTAL,T,ES,2017,46528024.0,25/04/24 23:00:00,FOR,TOTAL,T,6024698.0,12.948536
1185,19/04/24 23:00:00,TOTAL,T,ES,2018,46658447.0,25/04/24 23:00:00,FOR,TOTAL,T,6198833.0,13.285554
1186,19/04/24 23:00:00,TOTAL,T,ES,2019,46937060.0,25/04/24 23:00:00,FOR,TOTAL,T,6538961.0,13.931339
1187,19/04/24 23:00:00,TOTAL,T,ES,2020,47332614.0,25/04/24 23:00:00,FOR,TOTAL,T,6996825.0,14.782249
1188,19/04/24 23:00:00,TOTAL,T,ES,2021,47398695.0,25/04/24 23:00:00,FOR,TOTAL,T,7214878.0,15.221681
1189,19/04/24 23:00:00,TOTAL,T,ES,2022,47432893.0,25/04/24 23:00:00,FOR,TOTAL,T,7365311.0,15.527855
1190,19/04/24 23:00:00,TOTAL,T,ES,2023,48085361.0,25/04/24 23:00:00,FOR,TOTAL,T,8204206.0,17.061754